Repository eic/EICrecon, changes with the labels that .github/labeler.yml gives for each.
All labels: topic: backward, topic: barrel, topic: calorimetry, topic: digitization, topic: documentation, topic: far-backward, topic: far-forward, topic: forward, topic: jets, topic: infrastructure, topic: PID, topic: tracking

.github/labeler.yml:

"topic: backward":
- changed-files:
  - any-glob-to-any-file:
    - "src/detectors/EEMC/**"
    - "src/detectors/EHCAL/**"

"topic: barrel":
- changed-files:
  - any-glob-to-any-file:
    - "src/detectors/BEMC/**"
    - "src/detectors/BHCAL/**"
    - "src/detectors/BTOF/**"
    - "src/detectors/BTRK/**"
    - "src/detectors/BVTX/**"
    - "src/detectors/MPGD/**"

"topic: calorimetry":
- changed-files:
  - any-glob-to-any-file:
    - "src/algorithms/calorimetry/**"
    - "src/detectors/B0ECAL/**"
    - "src/detectors/BEMC/**"
    - "src/detectors/BHCAL/**"
    - "src/detectors/EHCAL/**"
    - "src/detectors/EEMC/**"
    - "src/detectors/FEMC/**"
    - "src/detectors/FHCAL/**"
    - "src/detectors/LUMISPECCAL/**"
    - "src/detectors/ZDC/**"
    - "src/factories/calorimetry/**"
    - "src/tests/algorithms_test/calorimetry_*"

"topic: digitization":
- changed-files:
  - any-glob-to-any-file:
    - "src/algorithms/digi/**"
    - "src/algorithms/calorimetry/CalorimeterHitDigi*"
    - "src/factories/digi/**"
    - "src/factories/calorimetry/CalorimeterHitDigi*"
    - "src/global/digi/**"

"topic: documentation":
- changed-files:
  - any-glob-to-any-file:
    - "docs/**"

"topic: far-backward":
- changed-files:
  - any-glob-to-any-file:
    - "src/detectors/LUMISPECCAL/**"

"topic: far-forward":
- changed-files:
  - any-glob-to-any-file:
    - "src/algorithms/romanpots/**"
    - "src/detectors/B0ECAL/**"
    - "src/detectors/B0TRK/**"
    - "src/detectors/FOFFMTRK/**"
    - "src/detectors/RPOTS/**"
    - "src/detectors/ZDC/**"

"topic: forward":
- changed-files:
  - any-glob-to-any-file:
    - "src/detectors/ECTOF/**"
    - "src/detectors/FEMC/**"
    - "src/detectors/FHCAL/**"

"topic: jets":
- changed-files:
  - any-glob-to-any-file:
    - "src/algorithms/reco/Jet*"
    - "src/global/reco/Jet*"

"topic: infrastructure":
- changed-files:
  - any-glob-to-any-file:
    - "**/CMakeLists.txt"
    - ".*"
    - ".github/**"

"topic: PID":
- changed-files:
  - any-glob-to-any-file:
    - "src/algorithms/pid/**"
    - "src/detectors/BTOF/**"
    - "src/detectors/DRICH/**"
    - "src/detectors/ECTOF/**"
    - "src/tests/algorithms_test/pid_*"

"topic: tracking":
- changed-files:
  - any-glob-to-any-file:
    - "src/algorithms/tracking/**"
    - "src/detectors/B0TRK/**"
    - "src/detectors/BTRK/**"
    - "src/detectors/BVTX/**"
    - "src/detectors/MPGD/**"

CalorimeterHitDigi: require DD4hep readout to be present
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
Labels: topic: backward, topic: barrel, topic: calorimetry, topic: digitization, topic: far-backward, topic: far-forward, topic: forward

CalorimeterHitDigi: require DD4hep readout to be present (#1351)
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
Labels: topic: backward, topic: barrel, topic: calorimetry, topic: digitization, topic: far-backward, topic: far-forward, topic: forward

Apply suggestions from code review
  src/scripts/eicrecon-this.sh.in
Labels: none

fix: ensure eicrecon-this.sh prepends even when already in PATH (#1205)
  src/scripts/eicrecon-this.sh.in
Labels: none

adapt ElectronReconstruction to use MatchClusters
  src/algorithms/reco/ElectronReconstruction.cc
  src/algorithms/reco/ElectronReconstruction.h
  src/global/reco/ReconstructedElectrons_factory.h
  src/global/reco/reco.cc
Labels: none

apply iwyu patch
  src/algorithms/reco/ScatteredElectronsEMinusPz.cc
  src/algorithms/reco/ScatteredElectronsEMinusPz.h
  src/algorithms/reco/ScatteredElectronsTruth.cc
  src/algorithms/reco/ScatteredElectronsTruth.h
  src/global/reco/reco.cc
Labels: none

Adjusted the algorithm to take functions for both collection to filter and be filtered by. Added some explanation.
  src/algorithms/meta/FilterByAssociations.h
  src/factories/meta/FilterByAssociations_factory.h
  src/global/reco/reco.cc
Labels: none

Update src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
Labels: topic: tracking

Added unit division
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking

Move association algorithm to its own function
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
Labels: topic: calorimetry

Added fix
  src/algorithms/pid/ParticlesWithPID.cc
Labels: topic: PID

Handle all assocation actions in new function
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
Labels: topic: calorimetry

Remove unnecessary assocation instantiation
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

Replace old with new algorithm except for vertex check
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

Use contrib energy instead of particle
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

Remove spurious comment
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

feat: replace draw_surfaces with Acts-based obj and ply export
  .gitignore
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
  src/services/geometry/acts/ACTSGeo_service.cc
Labels: topic: infrastructure, topic: tracking

feat: write obj and ply files in CI
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

ActsGeometryProvider.cc: update SPDX header
  src/algorithms/tracking/ActsGeometryProvider.cc
Labels: topic: tracking

ActsGeometryProvider.h: update SPDX header
  src/algorithms/tracking/ActsGeometryProvider.h
Labels: topic: tracking

fix: iwyu
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
  src/services/geometry/acts/ACTSGeo_service.cc
Labels: topic: tracking

feat: replace draw_surfaces with Acts-based obj and ply export (#1357)
  .github/workflows/linux-eic-shell.yml
  .gitignore
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
  src/services/geometry/acts/ACTSGeo_service.cc
Labels: topic: infrastructure, topic: tracking

First draft of bucketing hits in time
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/digi/SiliconTrackerDigiConfig.h
Labels: topic: digitization

iwyu
  src/algorithms/digi/SiliconTrackerDigi.cc
Labels: topic: digitization

add .DS_STORE to gitignore
  .gitignore
Labels: topic: infrastructure

Add in initial attempt at checking vertex
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
Labels: topic: calorimetry
