Repository eic/EICrecon, changes with the labels that .github/labeler.yml gives for each.
All labels: topic: backward, topic: barrel, topic: calorimetry, topic: documentation, topic: far-backward, topic: far-forward, topic: forward, topic: infrastructure, topic: PID, topic: tracking

.github/labeler.yml:

"topic: backward":
  - "src/detectors/EEMC/**"
  - "src/detectors/EHCAL/**"

"topic: barrel":
  - "src/detectors/BEMC/**"
  - "src/detectors/BHCAL/**"
  - "src/detectors/BTOF/**"
  - "src/detectors/BTRK/**"
  - "src/detectors/BVTX/**"
  - "src/detectors/MPGD/**"

"topic: calorimetry":
  - "src/algorithms/calorimetry/**"
  - "src/detectors/B0ECAL/**"
  - "src/detectors/BEMC/**"
  - "src/detectors/BHCAL/**"
  - "src/detectors/EHCAL/**"
  - "src/detectors/EEMC/**"
  - "src/detectors/FEMC/**"
  - "src/detectors/FHCAL/**"
  - "src/detectors/LUMISPECCAL/**"
  - "src/detectors/ZDC/**"
  - "src/factories/calorimetry/**"
  - "src/tests/algorithms_test/calorimetry_*"

"topic: documentation":
  - "docs/**"

"topic: far-backward":
  - "src/detectors/LUMISPECCAL/**"

"topic: far-forward":
  - "src/algorithms/romanpots/**"
  - "src/detectors/B0ECAL/**"
  - "src/detectors/B0TRK/**"
  - "src/detectors/FOFFMTRK/**"
  - "src/detectors/RPOTS/**"
  - "src/detectors/ZDC/**"

"topic: forward":
  - "src/detectors/ECTOF/**"
  - "src/detectors/FEMC/**"
  - "src/detectors/FHCAL/**"

"topic: infrastructure":
  - "**/CMakeLists.txt"
  - ".*"
  - ".github/**"

"topic: PID":
  - "src/algorithms/pid/**"
  - "src/detectors/BTOF/**"
  - "src/detectors/DRICH/**"
  - "src/detectors/ECTOF/**"
  - "src/tests/algorithms_test/pid_*"

"topic: tracking":
  - "src/algorithms/tracking/**"
  - "src/detectors/B0TRK/**"
  - "src/detectors/BTRK/**"
  - "src/detectors/BVTX/**"
  - "src/detectors/MPGD/**"

fix: rm log artifact; loop until stable for pull request
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

fix: include edm4hep collection header
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

removed tof hits from tracking for studies
  src/global/tracking/tracking.cc
Labels: none

feat: fill Acts::GeometryIdentfier extra field with DD4hep detector ID (#1058)
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
Labels: topic: tracking

fix: use Acts::Logger in propagateMany
  src/algorithms/tracking/TrackPropagation.cc
Labels: topic: tracking

feat: use propagateMany in TrackPropagation_factory (surface/system ID missing)
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackPropagation.h
  src/global/tracking/TrackPropagation_factory.cc
Labels: topic: tracking

feat: store Acts::Logger inside TrackPropagation for lifetime control
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackPropagation.h
Labels: topic: tracking

strange changes needed for tracking studies
  src/algorithms/tracking/TrackPropagation.cc
  src/benchmarks/reconstruction/tracking_studies/tracking_studiesProcessor.cc
  src/detectors/DRICH/DRICH.cc
  src/global/tracking/tracking.cc
Labels: topic: PID, topic: tracking

removed tof hits for studies
  src/global/tracking/tracking.cc
Labels: none

fix: apply fmt::underlying on unrecognized enum values
  src/extensions/spdlog/SpdlogExtensions.h
  src/extensions/spdlog/SpdlogToActs.h
  src/services/geometry/acts/ACTSGeo_service.cc
  src/services/geometry/richgeo/RichGeo_service.cc
Labels: none

fix: use TString::Data() for fmt since support by default
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/services/geometry/richgeo/IrtGeo.cc
Labels: topic: PID

fix: avoid constexpr ambiguous overloads in edm4eic/edm4hep vector_utils
  src/algorithms/pid/ParticlesWithPID.cc
Labels: topic: PID

fix: correct fmt fields in TrackingTest_processor
  src/tests/tracking_test/TrackingTest_processor.cc
Labels: none

fix: rm richgeo::PrintError since constexpr fmt_message not guaranteed
  src/services/geometry/richgeo/RichGeo.h
Labels: none

fix: reenable edm4hep::utils::operator/(double)
  src/algorithms/pid/ParticlesWithPID.cc
Labels: topic: PID

fix: require fmt v9 for fmt::underlying
  cmake/jana_plugin.cmake
Labels: none

fix: require EDM4hep 0.7.1 for edm4hep::utils
  CMakeLists.txt
Labels: topic: infrastructure

Merge with Main patch
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
  src/detectors/EHCAL/EHCAL.cc
Labels: topic: backward, topic: calorimetry, topic: tracking

fix: support fmt v10 and C++20 (#1073)
  CMakeLists.txt
  cmake/jana_plugin.cmake
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/pid/ParticlesWithPID.cc
  src/extensions/spdlog/SpdlogExtensions.h
  src/extensions/spdlog/SpdlogToActs.h
  src/services/geometry/acts/ACTSGeo_service.cc
  src/services/geometry/richgeo/IrtGeo.cc
  src/services/geometry/richgeo/RichGeo.h
  src/services/geometry/richgeo/RichGeo_service.cc
  src/tests/tracking_test/TrackingTest_processor.cc
Labels: topic: infrastructure, topic: PID

replace trackersourcelinker with trackermeasurement
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/algorithms/tracking/TrackerMeasurement.cc
  src/algorithms/tracking/TrackerMeasurement.h
  src/global/tracking/CKFTracking_factory.cc
  src/global/tracking/TrackerMeasurement_factory.cc
  src/global/tracking/TrackerMeasurement_factory.h
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking

undo unneccessary change
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: none

use sourcelink storage to fill container.
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking

Create particle flow skeleton
  src/algorithms/reco/ParticleFlow.cc
  src/algorithms/reco/ParticleFlow.h
  src/algorithms/reco/ParticleFlowConfig.h
Labels: none

Add method to construct cluster-reco particle map, start adding documentation comments
  src/algorithms/reco/ParticleFlow.cc
  src/algorithms/reco/ParticleFlow.h
Labels: none

fix: print magnetic field strength in correct units in ActsGeometryProvider
  src/algorithms/tracking/ActsGeometryProvider.cc
Labels: topic: tracking
