Repository eic/EICrecon, pull requests merged in 2022-10, with the labels that each got.

#203 Adjust HCal insert digitization parameters
  src/detectors/HCAL/CalorimeterHit_factory_HcalEndcapPInsertRecHits.h
  src/detectors/HCAL/RawCalorimeterHit_factory_HcalEndcapPInsertRawHits.h
Labels: enhancement

#227 225 tables for flag
  docs/_sidebar.md
  docs/index.html
  docs/table_flags/flags.md
  docs/table_flags/flags_style.css
  docs/table_flags/search.png
Labels: documentation

#274 fix(CI): use local install, not /usr/local
  .github/workflows/doxygen.yml
  .github/workflows/linux-eic-shell.yml
Labels: bug
