Repository eic/EICrecon, pull requests merged in 2023-10, with the labels that each got.

#1033 remove unused OffMomentumReconstruction_factory.*, RomanPotsReconstruction_factory.*
  src/detectors/FOFFMTRK/OffMomentumReconstruction_factory.cc
  src/detectors/FOFFMTRK/OffMomentumReconstruction_factory.h
  src/detectors/RPOTS/RomanPotsReconstruction_factory.cc
  src/detectors/RPOTS/RomanPotsReconstruction_factory.h
Labels: topic: far-forward

#1037 fix: rm unused FarForwardParticles
  src/algorithms/romanpots/FarForwardParticles.h
Labels: topic: far-forward

#1041 feat(ci): release notes definition
  .github/release.yml
Labels: topic: infrastructure

#1042 treewide: fix spelling
  docs/howto/make_plugin.md
  docs/tutorial/05-contributing.md
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
  src/detectors/BEMC/README.md
  src/extensions/jana/README.md
Labels: topic: documentation, topic: calorimetry, topic: barrel

#1044 rm ECGEM
  .github/labeler.yml
  docs/table_flags/flags_view.md
  src/detectors/CMakeLists.txt
  src/detectors/ECGEM/CMakeLists.txt
  src/detectors/ECGEM/ECGEM.cc
  src/utilities/dump_flags/DumpFlags_processor.h
Labels: topic: documentation, topic: PID, topic: infrastructure, topic: forward

#1048 fix(ci): avoid lsan crashes with intercept_tls_get_addr=0
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1027 fix: use localDistXY in HcalEndcapN
  src/detectors/EHCAL/EHCAL.cc
Labels: topic: backward

#1054 fix: remove adhoc LFHCAL treatment in CalorimeterHitReco
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: forward

#1045 fix: use unique_ptr for geometry in DD4hep_service, hand out not_null const pointers
  CMakeLists.txt
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/CalorimeterHitReco.h
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
  src/algorithms/calorimetry/CalorimeterHitsMerger.h
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.h
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/fardetectors/MatrixTransferStatic.h
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
  src/algorithms/tracking/DD4hepBField.h
  src/algorithms/tracking/TrackerHitReconstruction.cc
  src/algorithms/tracking/TrackerHitReconstruction.h
  src/algorithms/tracking/TrackerSourceLinker.cc
  src/algorithms/tracking/TrackerSourceLinker.h
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factoryT.h
  src/factories/calorimetry/CalorimeterHitReco_factoryT.h
  src/factories/calorimetry/CalorimeterHitsMerger_factoryT.h
  src/factories/fardetectors/MatrixTransferStatic_factoryT.h
  src/factories/tracking/TrackerHitReconstruction_factoryT.h
  src/global/digi/PhotoMultiplierHitDigi_factory.cc
  src/global/tracking/TrackerSourceLinker_factory.cc
  src/services/geometry/acts/ACTSGeo_service.h
  src/services/geometry/dd4hep/DD4hep_service.cc
  src/services/geometry/dd4hep/DD4hep_service.h
  src/services/geometry/richgeo/ActsGeo.cc
  src/services/geometry/richgeo/ActsGeo.h
  src/services/geometry/richgeo/IrtGeo.cc
  src/services/geometry/richgeo/IrtGeo.h
  src/services/geometry/richgeo/IrtGeoDRICH.h
  src/services/geometry/richgeo/IrtGeoPFRICH.h
  src/services/geometry/richgeo/ReadoutGeo.cc
  src/services/geometry/richgeo/ReadoutGeo.h
  src/services/geometry/richgeo/RichGeo_service.cc
  src/services/geometry/richgeo/RichGeo_service.h
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
  src/tests/algorithms_test/calorimetry_CalorimeterIslandCluster.cc
Labels: topic: calorimetry, topic: tracking, topic: infrastructure

#1031 feat(ci): test eicmkplugin in CI
  .github/workflows/linux-eic-shell.yml
  src/scripts/eicmkplugin.py
Labels: topic: infrastructure

#1055 fix: reenable storing geometryId into TrackPoint surface field
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackPropagation.cc
Labels: topic: tracking

#1061 TrackPropagation_factory: HcalEndcapN_* is not defined anymore, use LFHCAL
  src/global/tracking/TrackPropagation_factory.cc
Labels: backport v1.6

#1062 Remove factories for HcalEndcapP
  src/detectors/FHCAL/FHCAL.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: calorimetry, topic: forward

#987 feat: enable ubsan by default in CI, with print_stacktrace=1 and suppressions
  .github/ubsan.supp
  .github/workflows/linux-eic-shell.yml
  CMakeLists.txt
Labels: topic: infrastructure

#1058 feat: fill Acts::GeometryIdentfier extra field with DD4hep detector ID
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
Labels: topic: tracking

#1073 fix: support fmt v10 and C++20
  CMakeLists.txt
  cmake/jana_plugin.cmake
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/pid/ParticlesWithPID.cc
  src/extensions/spdlog/SpdlogExtensions.h
  src/extensions/spdlog/SpdlogToActs.h
  src/services/geometry/acts/ACTSGeo_service.cc
  src/services/geometry/richgeo/IrtGeo.cc
  src/services/geometry/richgeo/RichGeo.h
  src/services/geometry/richgeo/RichGeo_service.cc
  src/tests/tracking_test/TrackingTest_processor.cc
Labels: topic: PID, topic: infrastructure

#755 ci: include-what-you-use, clang-include-fixer
  .github/iwyu.imp
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1078 Adjust reconstruction parameters for Barrel ECal
  src/detectors/BEMC/BEMC.cc
Labels: topic: calorimetry, topic: barrel

#1079 fix: IWYU pragmas and iwyu.imp fixes
  .github/iwyu.imp
  cmake/jana_plugin.cmake
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
  src/extensions/spdlog/SpdlogFormatters.h
  src/tests/tracking_test/TrackingTest_processor.cc
Labels: topic: tracking, topic: infrastructure

#1082 fix: use edm4hep vector_utils instead of edm4eic; remove MaterialWiper (prep for Acts v26)
  .github/iwyu.imp
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/calorimetry/EnergyPositionClusterMerger.h
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/algorithms/calorimetry/ImagingTopoCluster.h
  src/algorithms/calorimetry/TruthEnergyPositionClusterMerger.h
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/reco/ElectronReconstruction.cc
  src/algorithms/reco/InclusiveKinematicsTruth.cc
  src/algorithms/reco/MatchClusters.cc
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackPropagation.cc
Labels: topic: calorimetry, topic: tracking, topic: infrastructure

#1038 feat: remove epic_brycecanyon as main configuration
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1077 fix: print magnetic field strength in correct units in ActsGeometryProvider
  src/algorithms/tracking/ActsGeometryProvider.cc
Labels: topic: tracking

#1084 linux-eic-shell.yml: remove last reference to brycecanyon
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1083 treewide: avoid including some internal headers from libstdc++
  .github/iwyu.imp
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/pid/ParticlesWithPID.cc
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackSeeding.cc
  src/detectors/DIRC/DIRC.cc
  src/services/geometry/richgeo/ActsGeo.cc
  src/services/geometry/richgeo/IrtGeoPFRICH.cc
  src/services/geometry/richgeo/ReadoutGeo.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: infrastructure

#1087 feat(ci): allow changing jug_xl:nightly as basis for CI jobs
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1088 calorimetry_CalorimeterIslandCluster: add test case for adjacencyMatrix code path
  src/tests/algorithms_test/calorimetry_CalorimeterIslandCluster.cc
Labels: topic: calorimetry
