Repository eic/EICrecon, pull requests merged in 2023-09, with the labels that each got.

#888 fix: link DIRC/DRICH detectors against digi_library with PhotoMultiplierDigi_factory
  src/detectors/DIRC/CMakeLists.txt
  src/detectors/DRICH/CMakeLists.txt
Labels: topic: PID, topic: infrastructure

#883 Update BHCal energy thresholds
  src/detectors/BHCAL/BHCAL.cc
Labels: topic: calorimetry, topic: barrel

#891 feat: remove tabs in pre-commit
  .pre-commit-config.yaml
  cmake/jana_plugin.cmake
  docs/howto/image-hierarhy.svg
  docs/howto/use_docker.md
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/EnergyPositionClusterMerger.h
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
  src/algorithms/tracking/SpacePoint.h
  src/algorithms/tracking/TrackParamTruthInit.h
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
  src/algorithms/tracking/TrackerSourceLinker.h
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/tracking_efficiency/TrackingEfficiency_processor.cc
  src/benchmarks/reconstruction/tracking_efficiency/scripts/draw_Performance.C
  src/benchmarks/reconstruction/tracking_efficiency/scripts/draw_hits.C
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancy_processor.cc
  src/detectors/DIRC/DIRC.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/FOFFMTRK/OffMomentumReconstruction_factory.cc
  src/detectors/FOFFMTRK/OffMomentumReconstruction_factory.h
  src/detectors/RPOTS/RomanPotsReconstruction_factory.cc
  src/detectors/RPOTS/RomanPotsReconstruction_factory.h
  src/detectors/ZDC/ZDC.cc
  src/services/geometry/richgeo/ReadoutGeo.cc
  src/services/geometry/richgeo/ReadoutGeo.h
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/geometry_navigation_test/GeometryNavigationSteps_processor.cc
  src/tests/reco_test/GlobalReconstructionTest_processor.cc
  src/tests/track_propagation_test/TrackPropagationTest_processor.cc
  src/tests/track_seeding_test/TrackSeedingTest_processor.cc
  src/tests/tracking_test/TrackingTest_processor.cc
  src/utilities/dump_flags/DumpFlags_processor.cc
  src/utilities/eicrecon/eicrecon.cc
Labels: topic: documentation, topic: calorimetry, topic: tracking, topic: far-forward, topic: infrastructure, topic: backward

#879 Common transfer matrix algorithm
  src/algorithms/CMakeLists.txt
  src/algorithms/fardetectors/CMakeLists.txt
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/fardetectors/MatrixTransferStatic.h
  src/algorithms/fardetectors/MatrixTransferStaticConfig.h
  src/detectors/FOFFMTRK/CMakeLists.txt
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/RPOTS/CMakeLists.txt
  src/detectors/RPOTS/RPOTS.cc
  src/factories/fardetectors/MatrixTransferStatic_factoryT.h
Labels: topic: far-forward, topic: infrastructure

#877 fix: delete space points on TrackSeeding
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
Labels: topic: tracking

#918 fix: change "no matching CherenkovParticleID" log level `warn` -> `trace`
  src/algorithms/pid/ParticlesWithPID.cc
Labels: topic: PID

#914 Changed kinematic calculations to use edm4eic vector utils in ParticlesWithPID
  src/algorithms/pid/ParticlesWithPID.cc
Labels: topic: PID

#919 Added LowQ2 plugin with hit digitization
  src/detectors/CMakeLists.txt
  src/detectors/LOWQ2/CMakeLists.txt
  src/detectors/LOWQ2/LOWQ2.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/utilities/dump_flags/DumpFlags_processor.h
  src/utilities/eicrecon/eicrecon.cc
Labels: topic: infrastructure

#920 fix: move Eigen out of SpdlogFormatters
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/TrackProjector.cc
  src/extensions/spdlog/SpdlogFormatters.h
Labels: topic: tracking

#890 Silicon thresholds
  src/detectors/B0TRK/B0TRK.cc
  src/detectors/BTOF/BTOF.cc
  src/detectors/BTRK/BTRK.cc
  src/detectors/BVTX/BVTX.cc
  src/detectors/ECGEM/ECGEM.cc
  src/detectors/ECTOF/ECTOF.cc
  src/detectors/ECTRK/ECTRK.cc
Labels: topic: tracking, topic: PID, topic: far-forward, topic: barrel, topic: forward

#862 Create TrackPropagation_factory
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackPropagation.cc
  src/global/tracking/TrackPropagation_factory.cc
  src/global/tracking/TrackPropagation_factory.h
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking

#926 docs: apk add ttf-freefont for graphviz without boxes
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#923 feat(ci): publish GitHub pages site with PR information (no fork)
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#916 fix: unset PODIO_JSON_OUTPUT after loading EDM4HEP, EDM4EIC
  CMakeLists.txt
Labels: topic: infrastructure

#932 fix: unused header cleanup
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/CalorimeterHitReco.h
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/calorimetry/CalorimeterTruthClustering.cc
  src/algorithms/calorimetry/CalorimeterTruthClustering.h
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.h
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/algorithms/tracking/CKFTrackingFunction.cc
  src/algorithms/tracking/IterativeVertexFinder.h
  src/algorithms/tracking/IterativeVertexFinderConfig.h
  src/algorithms/tracking/TrackSeeding.h
Labels: topic: calorimetry, topic: tracking

#931 fix: remove non-POD-ness from OrthogonalTrackSeedingConfig
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
Labels: topic: tracking

#929 fix: Compiler warning in src/tests/algorithms_test/pid_MergeParticleID.cc
  src/tests/algorithms_test/pid_MergeParticleID.cc
Labels: topic: PID

#939 feat(ci): no cancel-in-progress on main
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#942 fix(ci): don't use pre-filled JANA_PLUGIN_PATH with EICrecon plugins
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#938 fix: enable rpath on build and install linking
  CMakeLists.txt
Labels: topic: infrastructure

#945 ChargedParticleSelector: fix compilation
  src/algorithms/reco/ChargedParticleSelector.cc
  src/algorithms/reco/ChargedParticleSelector.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: backport v1.5

#951 fix: rm doxygen from PRs
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#954 pr-backport.yml: add github token
  .github/workflows/pr-backport.yml
Labels: topic: infrastructure

#961 fix: use xyz_g[3] in richgeo/ReadoutGeo.cc
  src/services/geometry/richgeo/ReadoutGeo.cc
Labels: backport v1.5

#955 fix(ci): use npsim instead of ddsim
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#963 feat: new janatop plugin, i.e. janadot without the svg output
  src/utilities/CMakeLists.txt
  src/utilities/eicrecon/eicrecon.cc
  src/utilities/janatop/CMakeLists.txt
  src/utilities/janatop/JEventProcessorJANATOP.h
  src/utilities/janatop/janadot.cc
Labels: topic: infrastructure

#966 linux-eic-shell.yml: enable on maintenance branches
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure, backport v1.5

#753 ci: pre-commit clang-format (but not CI)
  .pre-commit-config.yaml
Labels: topic: infrastructure

#968 fix(ci): cancel in progress when ref_name != refs/heads/main
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#967 fix: disable DRICH radiator and photon vertex cheat code
  src/detectors/DRICH/DRICH.cc
Labels: topic: PID, backport v1.5

#940 feat: allow configuring WITH_SHARED_LIBRARY and WITHOUT_PLUGIN
  .github/workflows/linux-eic-shell.yml
  cmake/jana_plugin.cmake
  src/algorithms/calorimetry/CMakeLists.txt
  src/algorithms/digi/CMakeLists.txt
  src/algorithms/fardetectors/CMakeLists.txt
  src/algorithms/pid/CMakeLists.txt
  src/algorithms/reco/CMakeLists.txt
  src/algorithms/tracking/CMakeLists.txt
  src/global/CMakeLists.txt
  src/global/calorimetry/CMakeLists.txt
  src/global/digi/CMakeLists.txt
  src/global/reco/CMakeLists.txt
  src/global/tracking/CMakeLists.txt
  src/utilities/eicrecon/eicrecon.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: infrastructure

#969 [Backport v1.5] fix: disable DRICH radiator and photon vertex cheat code
  src/detectors/DRICH/DRICH.cc
Labels: topic: PID

#978 fix: use RPATH in build tree, unset LD_LIBRARY_PATH for ctest
  .github/workflows/linux-eic-shell.yml
  CMakeLists.txt
Labels: topic: infrastructure

#974 fix: memory leak in CalorimeterClusterRecoCoG
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
Labels: topic: calorimetry

#979 fix: resolve CKFTracking memory leak
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking

#986 feat(ci): correct LD_LIBRARY_PATH prefix and add job step to print `ldd *.so`
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#985 fix: avoid undefined behavior in signed integer 0 bitwise complement
  src/algorithms/calorimetry/CalorimeterHitReco.cc
Labels: topic: calorimetry

#984 fix: avoid undefined unsigned integer behavior in pid size checks
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/pid/MergeTracks.cc
Labels: topic: PID

#848 feat(ci): add job to run each benchmark separately
  .github/workflows/linux-eic-shell.yml
  src/benchmarks/CMakeLists.txt
  src/benchmarks/detectors/BEMCcheck/BEMCcheckProcessor.cc
  src/benchmarks/detectors/BEMCcheck/BEMCcheckProcessor.h
  src/benchmarks/detectors/BEMCcheck/CMakeLists.txt
  src/benchmarks/detectors/BEMCcheck/macros/BEMCcheck.C
  src/benchmarks/detectors/EcalBarrelScFiCheck/CMakeLists.txt
  src/benchmarks/detectors/EcalBarrelScFiCheck/EcalBarrelScFiCheck.cc
  src/benchmarks/detectors/EcalBarrelScFiCheck/EcalBarrelScFiCheckProcessor.cc
  src/benchmarks/detectors/EcalBarrelScFiCheck/EcalBarrelScFiCheckProcessor.h
  src/benchmarks/detectors/RPOTScheck/RPOTScheckProcessor.cc
  src/benchmarks/detectors/RPOTScheck/RPOTScheckProcessor.h
  src/benchmarks/detectors/RPOTScheck/macros/RPOTScheck.C
  src/benchmarks/reconstruction/TRACKINGcheck/TRACKINGcheck.cc
  src/benchmarks/reconstruction/TRACKINGcheck/TRACKINGcheckProcessor.cc
  src/benchmarks/reconstruction/TRACKINGcheck/TRACKINGcheckProcessor.h
  src/benchmarks/reconstruction/femc_studies/femc_studies.cc
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studies.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
  src/benchmarks/reconstruction/tracking_efficiency/TrackingEfficiency_processor.cc
  src/benchmarks/reconstruction/tracking_occupancy/HitReconstructionAnalysis.cc
  src/benchmarks/reconstruction/tracking_occupancy/HitReconstructionAnalysis.h
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancyAnalysis.cc
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancyAnalysis.h
Labels: topic: infrastructure

#998 fix(ci): cancel-in-progress false for main
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1002 fix: set LD_LIBRARY_PATH for benchmark tests
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1000 feat: std::optional in cluster reco CoG
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
Labels: topic: calorimetry

#1001 fix: rename JDD4hep_service to DD4hep_service
  src/detectors/FOFFMTRK/OffMomentumReconstruction_factory.cc
  src/detectors/FOFFMTRK/OffMomentumReconstruction_factory.h
  src/detectors/RPOTS/RomanPotsReconstruction_factory.cc
  src/detectors/RPOTS/RomanPotsReconstruction_factory.h
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factoryT.h
  src/factories/calorimetry/CalorimeterHitDigi_factoryT.h
  src/factories/calorimetry/CalorimeterHitReco_factoryT.h
  src/factories/calorimetry/CalorimeterHitsMerger_factoryT.h
  src/factories/calorimetry/CalorimeterIslandCluster_factoryT.h
  src/factories/fardetectors/MatrixTransferStatic_factoryT.h
  src/factories/tracking/TrackerHitReconstruction_factoryT.h
  src/global/digi/PhotoMultiplierHitDigi_factory.cc
  src/global/tracking/CKFTracking_factory.cc
  src/global/tracking/IterativeVertexFinder_factory.cc
  src/global/tracking/TrackPropagation_factory.cc
  src/global/tracking/TrackPropagation_factory.h
  src/global/tracking/TrackerSourceLinker_factory.cc
  src/services/geometry/acts/ACTSGeo_service.cc
  src/services/geometry/dd4hep/DD4hep_service.cc
  src/services/geometry/dd4hep/DD4hep_service.h
  src/services/geometry/dd4hep/dd4hep.cc
  src/services/geometry/richgeo/RichGeo_service.cc
  src/services/geometry/richgeo/RichGeo_service.h
Labels: topic: calorimetry, topic: far-forward

#1010 fix(ci): run ctest with prefixed LD_LIBRARY_PATH
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1007 fix: move some info logging to debug; remove unneeded fmt::format
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
Labels: topic: calorimetry

#983 fix: address memory leaks in TrackSeeding
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
  src/global/tracking/TrackSeeding_factory.cc
Labels: topic: tracking

#982 fix: address memory leaks in TrackProjector
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackProjector.h
  src/global/tracking/TrackProjector_factory.cc
Labels: topic: tracking

#981 fix: address memory leaks in IterativeVertexFinder
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/IterativeVertexFinder.h
  src/global/tracking/IterativeVertexFinder_factory.cc
Labels: topic: tracking

#1006 fix(ci): avoid API rate exceeding in get-docs-from-open-prs with max-parallel: 4
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1015 Revert "CKFTracking: disable RTTI type checks until EICrecon conforms to ODR (#551)"
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking

#1012 feat: use our spdlog::logger for Acts logging
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/TrackPropagation.cc
  src/extensions/spdlog/SpdlogToActs.h
Labels: topic: tracking

#995 fix(ci): get-docs-from-main for last *success* workflow, not merely completed
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1014 feat: add two-stage test job (digitization/reconstruction); write EventHeader by default
  .github/workflows/linux-eic-shell.yml
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: infrastructure

#1020 src/benchmarks: deprecate JEventProcessorSequential::PrefetchT in favor of PODIO collections
  docs/howto/add_factory.md
  docs/howto/make_plugin.md
  docs/tutorial/03-end-user-plugin.md
  src/benchmarks/detectors/EcalBarrelScFiCheck/EcalBarrelScFiCheckProcessor.cc
  src/benchmarks/detectors/EcalBarrelScFiCheck/EcalBarrelScFiCheckProcessor.h
  src/benchmarks/reconstruction/TRACKINGcheck/TRACKINGcheckProcessor.cc
  src/benchmarks/reconstruction/TRACKINGcheck/TRACKINGcheckProcessor.h
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
  src/benchmarks/reconstruction/tof_efficiency/TofEfficiency_processor.cc
  src/benchmarks/reconstruction/tof_efficiency/TofEfficiency_processor.h
  src/scripts/eicmkplugin.py
Labels: topic: documentation

#774 ci: ccache max size increase and show stats; key name changes
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1013 fix: address clang-tidy clang-analyzer warnings
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/benchmarks/reconstruction/TRACKINGcheck/TRACKINGcheckProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/tracking_test/TrackingTest_processor.cc
Labels: topic: calorimetry, topic: tracking

#999 Reducing number of track projections inside dRICH
  src/detectors/DRICH/DRICH.cc
Labels: topic: PID

#1023 fix: remove all odr violations, and enforce them in ASAN_OPTIONS
  .github/workflows/linux-eic-shell.yml
  cmake/jana_plugin.cmake
  src/global/reco/CMakeLists.txt
  src/global/tracking/CMakeLists.txt
  src/utilities/janatop/CMakeLists.txt
  src/utilities/janatop/janatop.cc
Labels: topic: infrastructure

#989 fix: avoid division by zero by not setting weighted position if sum of weights is zero
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

#1028 labeler.yml: fix calorimetry tag for EHCAL
  .github/labeler.yml
Labels: topic: infrastructure

#980 feat(ci): updates to lsan.supp and require PRs to pass leak checks
  .github/lsan.supp
  .github/workflows/linux-eic-shell.yml
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
Labels: topic: calorimetry, topic: infrastructure
