Repository eic/EICrecon, pull requests merged in 2023-12, with the labels that each got.

#1123 fix(ci): don't upload unused build directory artifacts
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1170 fix: correct parameter type
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
Labels: topic: tracking

#1099 Make sure only one of thresholdFactor & thresholdValue are non-zero
  src/algorithms/calorimetry/CalorimeterHitReco.cc
Labels: topic: calorimetry, improvement, topic: simulation

#1182 fix: adopt algorithms:: interface in CalorimeterHitsMerger
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
  src/algorithms/calorimetry/CalorimeterHitsMerger.h
  src/factories/calorimetry/CalorimeterHitsMerger_factory.h
Labels: topic: calorimetry

#1183 fix: adopt algorithms:: interface in CalorimeterIslandCluster
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/factories/calorimetry/CalorimeterIslandCluster_factory.h
  src/tests/algorithms_test/calorimetry_CalorimeterIslandCluster.cc
Labels: topic: calorimetry

#1181 fix: adopt algorithms:: interface in CalorimeterHitReco
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/CalorimeterHitReco.h
  src/factories/calorimetry/CalorimeterHitReco_factory.h
Labels: topic: calorimetry

#1187 fix: rm Acts detail header for stable interface
  .github/iwyu.imp
  src/algorithms/tracking/ActsGeometryProvider.cc
Labels: topic: tracking, topic: infrastructure

#1188 fix: forward compatibility with Acts-v31
  cmake/jana_plugin.cmake
  src/algorithms/tracking/IterativeVertexFinder.cc
Labels: topic: tracking

#1190 fix: backport into v1.9 of Acts v31 support
  .github/iwyu.imp
  cmake/jana_plugin.cmake
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/IterativeVertexFinder.cc
Labels: topic: tracking, topic: infrastructure
