Repository eic/EICrecon, pull requests merged in 2023-11, with the labels that each got.

#1092 updated LOWQ2 threshold
  src/detectors/LOWQ2/LOWQ2.cc
Labels: improvement, topic: simulation, topic: reconstruction

#1093 updated B0 LGAD threshold
  src/detectors/B0TRK/B0TRK.cc
Labels: improvement, topic: far-forward, topic: simulation

#1076 replace trackersourcelinker with trackermeasurement
  .github/iwyu.imp
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
  src/algorithms/tracking/TrackerMeasurementFromHits.h
  src/algorithms/tracking/TrackerSourceLinker.cc
  src/algorithms/tracking/TrackerSourceLinkerResult.h
  src/global/tracking/CKFTracking_factory.cc
  src/global/tracking/TrackerMeasurementFromHits_factory.cc
  src/global/tracking/TrackerMeasurementFromHits_factory.h
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking, topic: infrastructure

#1097 linux-eic-shell.yml: fix cancel-in-progress
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1091 updated ECTOF threshold
  src/detectors/ECTOF/ECTOF.cc
Labels: topic: PID, improvement, topic: forward, topic: simulation

#1090 updated BTOF threshold
  src/detectors/BTOF/BTOF.cc
Labels: topic: PID, improvement, topic: barrel, topic: simulation

#1095 Bhcal threshold
  src/detectors/BHCAL/BHCAL.cc
Labels: topic: calorimetry, improvement, topic: barrel, topic: simulation

#1100 Updated EEMC energy threshold and ADC parameters
  src/detectors/EEMC/EEMC.cc
Labels: topic: calorimetry, topic: backward

#1089 updated MAPS threshold
  src/detectors/BTRK/BTRK.cc
  src/detectors/BVTX/BVTX.cc
  src/detectors/ECTRK/ECTRK.cc
Labels: topic: tracking, improvement, topic: barrel, topic: simulation

#1102 Updated backward HCAL ADC parameters, removed threshold
  src/detectors/EHCAL/EHCAL.cc
Labels: topic: calorimetry, topic: backward

#1094 Consolidated BEMC thresholds and ADC parameters
  src/detectors/BEMC/BEMC.cc
Labels: topic: calorimetry, improvement, topic: barrel, topic: simulation

#1086 Updated FEMC threshold and digitization parameters
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/detectors/FEMC/FEMC.cc
Labels: topic: calorimetry, improvement, topic: forward, topic: simulation

#1101 B0 Ecal threshold
  src/detectors/B0ECAL/B0ECAL.cc
Labels: topic: calorimetry, improvement, topic: far-forward, topic: simulation

#1104 Updated ADC parameters and threshold for HCal (and ECal) inserts
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, improvement, topic: forward, topic: simulation

#1105 Updated LFHCAL ADC parameters and threshold
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, improvement, topic: forward, topic: simulation

#1106 fix: mv id() to getObjectID().index because id() returns ObjectID, not uint_t, in podio v0.17.1
  src/algorithms/calorimetry/CalorimeterTruthClustering.cc
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/pid/ConvertParticleID.h
  src/algorithms/pid/MergeParticleID.cc
  src/algorithms/pid/ParticlesWithPID.cc
Labels: topic: calorimetry, topic: PID

#1107 fix: rm unused ClusterRecoCoG options
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoGConfig.h
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factoryT.h
Labels: topic: calorimetry, topic: far-forward, topic: far-backward, topic: barrel, topic: forward, topic: backward

#1085 feat: depend on algorithms; demo interface in CaloClusterRecoCoG
  CMakeLists.txt
  cmake/jana_plugin.cmake
  src/algorithms/calorimetry/CMakeLists.txt
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factoryT.h
Labels: topic: calorimetry, topic: infrastructure

#1109 [Backport v1.7] fix: mv id() to getObjectID().index because id() returns ObjectID, not uint_t, in podio v0.17.1
  src/algorithms/calorimetry/CalorimeterTruthClustering.cc
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/pid/ConvertParticleID.h
  src/algorithms/pid/MergeParticleID.cc
  src/algorithms/pid/ParticlesWithPID.cc
Labels: topic: calorimetry, topic: PID

#1112 fix(ci): upload build/ as tar.gz for speedup
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1113 fix: convert DD4hepBfield position units without hardcoding
  src/algorithms/tracking/DD4hepBField.cc
Labels: topic: tracking

#1114 feat: write capybara diff dashboards for PRs to ghpages
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1072 feat: upgrade EICrecon to Acts v30
  .github/workflows/linux-eic-shell.yml
  cmake/jana_plugin.cmake
  src/algorithms/tracking/ActsExamples/EventData/GeometryContainers.hpp
  src/algorithms/tracking/ActsExamples/EventData/Index.hpp
  src/algorithms/tracking/ActsExamples/EventData/IndexSourceLink.hpp
  src/algorithms/tracking/ActsExamples/EventData/Measurement.hpp
  src/algorithms/tracking/ActsExamples/EventData/Track.hpp
  src/algorithms/tracking/ActsExamples/EventData/Trajectories.hpp
  src/algorithms/tracking/ActsExamples/Geometry/MaterialWiper.hpp
  src/algorithms/tracking/ActsExamples/LICENSE
  src/algorithms/tracking/ActsExamples/README.md
  src/algorithms/tracking/ActsExamples/Utilities/GroupBy.hpp
  src/algorithms/tracking/ActsExamples/Utilities/Options.hpp
  src/algorithms/tracking/ActsExamples/Utilities/OptionsFwd.hpp
  src/algorithms/tracking/ActsExamples/Utilities/Paths.hpp
  src/algorithms/tracking/ActsExamples/Utilities/Range.hpp
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/algorithms/tracking/CKFTrackingFunction.cc
  src/algorithms/tracking/DD4hepBField.cc
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackProjector.h
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackPropagation.h
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
  src/benchmarks/reconstruction/TRACKINGcheck/TRACKINGcheckProcessor.cc
  src/benchmarks/reconstruction/tracking_efficiency/TrackingEfficiency_processor.cc
  src/detectors/DRICH/DRICH.cc
  src/extensions/spdlog/SpdlogToActs.h
  src/global/pid/RichTrack_factory.cc
  src/global/tracking/CKFTracking_factory.cc
  src/global/tracking/CKFTracking_factory.h
  src/global/tracking/IterativeVertexFinder_factory.cc
  src/global/tracking/IterativeVertexFinder_factory.h
  src/global/tracking/TrackProjector_factory.cc
  src/global/tracking/TrackProjector_factory.h
  src/global/tracking/TrackPropagation_factory.cc
  src/global/tracking/tracking.cc
  src/tests/track_propagation_test/TrackPropagationTest_processor.cc
  src/tests/track_seeding_test/TrackSeedingTest_processor.cc
Labels: topic: tracking, topic: PID, topic: infrastructure, topic: reconstruction

#1129 fix: update CMAKE_CXX_STANDARD default to 20, now required by Acts
  CMakeLists.txt
Labels: topic: infrastructure

#1130 fix: link tests with --no-as-needed due to JANA #255
  src/tests/algorithms_test/CMakeLists.txt
Labels: topic: infrastructure

#1122 feat(ci): produce PR and capybara summary; print to step summary
  .github/workflows/linux-eic-shell.yml
  docs/_sidebar.md
Labels: topic: documentation, topic: infrastructure

#1132 algorithms_test/CMakeLists.txt: alternative option detection mechanism
  CMakeLists.txt
  src/tests/algorithms_test/CMakeLists.txt
Labels: topic: infrastructure

#1134 fix: change back to eic-shell nightly
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1143 fix: add missing Measurement2D line in iwyu.imp
  .github/iwyu.imp
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
  src/benchmarks/reconstruction/tracking_efficiency/TrackingEfficiency_processor.cc
  src/benchmarks/reconstruction/tracking_occupancy/HitReconstructionAnalysis.cc
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancyAnalysis.cc
  src/detectors/DIRC/DIRC.cc
  src/detectors/DRICH/DRICH.cc
  src/global/digi/PhotoMultiplierHitDigi_factory.h
  src/global/pid/MergeCherenkovParticleID_factory.h
  src/global/pid/MergeTrack_factory.h
  src/global/pid/ParticlesWithPID_factory.h
  src/global/reco/GeneratedJets_factory.h
  src/global/reco/InclusiveKinematicsDA_factory.h
  src/global/reco/InclusiveKinematicsElectron_factory.h
  src/global/reco/InclusiveKinematicsJB_factory.h
  src/global/reco/InclusiveKinematicsSigma_factory.h
  src/global/reco/InclusiveKinematicsTruth_factory.h
  src/global/reco/InclusiveKinematicseSigma_factory.h
  src/global/reco/MC2SmearedParticle_factory.h
  src/global/reco/MatchClusters_factory.h
  src/global/reco/ReconstructedJets_factory.h
  src/global/tracking/TrackParamTruthInit_factory.h
  src/global/tracking/TrackSeeding_factory.h
  src/global/tracking/TrackerMeasurementFromHits_factory.h
  src/services/geometry/richgeo/IrtGeo.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/reco_test/GlobalReconstructionTest_processor.cc
  src/tests/tracking_test/TrackingTest_processor.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: infrastructure

#1139 feat: only run clang eicrecon-{dis,gun}, no more gcc
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1146 fix: pass TrackerHitCollection to TrackerMeasurement, not std::vector<T*>
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
  src/algorithms/tracking/TrackerMeasurementFromHits.h
  src/global/tracking/TrackerMeasurementFromHits_factory.cc
Labels: topic: tracking

#1125 fix(ci): install into prefix and upload as tar artifact
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1152 fix(ci): compress install and build artifact with zstd
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1150 fix(ci): run clang-tidy with extra-args -std=c++20
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1135 fix: set C++std to 20, allow higher; agree with Acts and ROOT
  CMakeLists.txt
Labels: topic: infrastructure

#1156 Adjust threshold settings in LUMISPECCAL
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
Labels: topic: calorimetry, topic: far-backward

#1148 feat: use algorithms:: interface CalorimeterHitDigi (incl RandomSvc)
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/factories/calorimetry/CalorimeterHitDigi_factoryT.h
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
Labels: topic: calorimetry

#1158 fix: avoid narrowing warning with decltype in MergeParticleID
  src/algorithms/pid/MergeParticleID.cc
Labels: topic: PID

#1159 fix: more generic iwyu command line interface
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1140 fix: install {asan,lsan,tsan,ubsan}.supp with CMake; other CMake cleanup
  .github/tsan.supp
  CMakeLists.txt
  cmake/jana_plugin.cmake
Labels: topic: infrastructure

#1142 fix: move remaining JChainFactory algorithms to JChainMultifactory
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
  src/detectors/DRICH/DRICH.cc
  src/extensions/README.md
  src/extensions/jana/JChainFactoryGeneratorT.h
  src/extensions/jana/JChainFactoryT.h
  src/extensions/jana/JChainMultifactoryT.h
  src/global/pid/MergeCherenkovParticleID_factory.cc
  src/global/pid/MergeCherenkovParticleID_factory.h
  src/global/pid/MergeTrack_factory.cc
  src/global/pid/MergeTrack_factory.h
  src/global/reco/MC2SmearedParticle_factory.cc
  src/global/reco/MC2SmearedParticle_factory.h
  src/global/reco/ReconstructedElectrons_factory.h
  src/global/reco/reco.cc
  src/global/tracking/IterativeVertexFinder_factory.cc
  src/global/tracking/IterativeVertexFinder_factory.h
  src/global/tracking/TrackParamTruthInit_factory.cc
  src/global/tracking/TrackParamTruthInit_factory.h
  src/global/tracking/TrackProjector_factory.cc
  src/global/tracking/TrackProjector_factory.h
  src/global/tracking/TrackSeeding_factory.cc
  src/global/tracking/TrackSeeding_factory.h
  src/global/tracking/TrackerMeasurementFromHits_factory.cc
  src/global/tracking/TrackerMeasurementFromHits_factory.h
  src/global/tracking/tracking.cc
Labels: topic: tracking, topic: PID

#1164 fix(ci): test eicmkplugin with EICrecon_ROOT=install/
  .github/workflows/linux-eic-shell.yml
  CMakeLists.txt
Labels: topic: infrastructure
