Repository eic/EICrecon, pull requests merged in 2023-08, with the labels that each got.

#735 fix(RICH): minimize number of failed track propagation attempts
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackPropagation.h
  src/global/pid/RichTrack_factory.cc
Labels: backport v1.4

#844 fix: allow for = in working dir for datamodel glue
  src/services/io/podio/make_datamodel_glue.py
Labels: backport v1.4

#874 linux-eic-shell.yml: install epic-capybara
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#872 feat: use podio collections in tracking digi/reco; rm unused interfaces (3rd attempt)
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/digi/SiliconTrackerDigi.h
  src/algorithms/digi/SiliconTrackerDigiConfig.h
  src/algorithms/interfaces/ICollectionProducer.h
  src/algorithms/interfaces/ICollector.h
  src/algorithms/interfaces/IObjectProducer.h
  src/algorithms/tracking/IterativeVertexFinder.h
  src/algorithms/tracking/TrackSeeding.h
  src/algorithms/tracking/TrackerHitReconstruction.cc
  src/algorithms/tracking/TrackerHitReconstruction.h
  src/algorithms/tracking/TrackerHitReconstructionConfig.h
  src/algorithms/tracking/TruthTrackSeeding.cc
  src/algorithms/tracking/TruthTrackSeeding.h
  src/detectors/B0TRK/B0TRK.cc
  src/detectors/BTOF/BTOF.cc
  src/detectors/BTRK/BTRK.cc
  src/detectors/BVTX/BVTX.cc
  src/detectors/ECGEM/ECGEM.cc
  src/detectors/ECTOF/ECTOF.cc
  src/detectors/ECTRK/ECTRK.cc
  src/detectors/MPGD/MPGD.cc
  src/factories/digi/SiliconTrackerDigi_factoryT.h
  src/factories/tracking/TrackerHitReconstruction_factoryT.h
  src/global/digi/SiliconTrackerDigi_factory.cc
  src/global/digi/SiliconTrackerDigi_factory.h
  src/global/tracking/TrackerHitReconstruction_factory.cc
  src/global/tracking/TrackerHitReconstruction_factory.h
  src/global/tracking/TruthTrackSeeding_factory.cc
  src/global/tracking/TruthTrackSeeding_factory.h
Labels: topic: tracking, topic: PID, topic: far-forward, topic: barrel, topic: forward

#861 Digitization for hpDIRC sensor plane
  src/detectors/CMakeLists.txt
  src/detectors/DIRC/CMakeLists.txt
  src/detectors/DIRC/DIRC.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/utilities/eicrecon/eicrecon.cc
Labels: topic: infrastructure

#860 feat: produce edm4eic::TrajectoryCollection in CKFTracking
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/algorithms/tracking/ParticlesFromTrackFit.cc
  src/algorithms/tracking/ParticlesFromTrackFit.h
  src/algorithms/tracking/ParticlesWithTruthPID.cpp
  src/algorithms/tracking/ParticlesWithTruthPID.h
  src/global/tracking/CKFTracking_factory.cc
  src/global/tracking/CKFTracking_factory.h
  src/global/tracking/ParticlesWithTruthPID_factory.cc
  src/global/tracking/TrackingResult_factory.cc
  src/global/tracking/TrackingResult_factory.h
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking

#727 refactor(dRICH): compatibility update for PDU readout
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.h
  src/algorithms/digi/PhotoMultiplierHitDigiConfig.h
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/detectors/DIRC/DIRC.cc
  src/detectors/DRICH/DRICH.cc
  src/global/digi/PhotoMultiplierHitDigi_factory.cc
  src/services/geometry/richgeo/IrtGeo.h
  src/services/geometry/richgeo/IrtGeoDRICH.cc
  src/services/geometry/richgeo/ReadoutGeo.cc
  src/services/geometry/richgeo/ReadoutGeo.h
Labels: topic: PID

#864 CalorimeterHitDigi: unified code path for digitization with and without the hit merging
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
Labels: topic: calorimetry

#876 fix: remove custom_environment.sh and cmake_wrapper.sh
  custom_environment_example.sh
  docs/get-started/manual-build.md
  src/tools/cmake_wrapper.sh
Labels: topic: documentation

#885 fix: require EDM4eic 2.1 minimum
  CMakeLists.txt
  src/services/io/podio/CMakeLists.txt
Labels: topic: infrastructure

#880 fix(dRICH): `CentralCKFTrajectories` -> `CentralCKFActsTrajectories`
  src/detectors/DRICH/DRICH.cc
  src/detectors/DRICH/README.md
Labels: topic: PID

#886 labeler.yml: correct paths for "topic: backward"
  .github/labeler.yml
Labels: topic: infrastructure

#887 feat(ci): allow merge queues
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure
