Repository eic/EICrecon, pull requests merged in 2024-04, with the labels that each got.

#1357 feat: replace draw_surfaces with Acts-based obj and ply export
  .github/workflows/linux-eic-shell.yml
  .gitignore
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
  src/services/geometry/acts/ACTSGeo_service.cc
Labels: topic: tracking, topic: infrastructure

#1335 1300 putting real seeding covariance matrix error in a configuration file
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
  src/algorithms/tracking/TrackSeeding.cc
  src/global/tracking/TrackSeeding_factory.h
Labels: topic: tracking

#1367 release.yml: implement a catch-all category
  .github/release.yml
Labels: topic: infrastructure

#1369 linux-eic-shell.yml: drop use of alpine
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1374 fix(ci): actions/checkout with filter: "tree:0"
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1375 linux-eic-shell.yml: unbreak clang-tidy in PR context
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1377 Remove m_ member tags from tracking configuration structs
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTrackingConfig.h
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/IterativeVertexFinderConfig.h
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackParamTruthInitConfig.h
  src/algorithms/tracking/TrackSeeding.cc
  src/global/tracking/CKFTracking_factory.h
  src/global/tracking/IterativeVertexFinder_factory.h
  src/global/tracking/TrackParamTruthInit_factory.h
  src/global/tracking/TrackSeeding_factory.h
Labels: topic: tracking

#1380 MPGD: retire MPGDDIRC
  src/benchmarks/reconstruction/tracking_occupancy/HitReconstructionAnalysis.h
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancyAnalysis.h
  src/detectors/MPGD/MPGD.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking, topic: barrel

#1384 fix: ignore .DS_Store, .vscode, .idea, cmake-build-* in subdirs
  .gitignore
Labels: topic: infrastructure

#1386 fix(ci): add src/tests plugins as CI jobs
  .github/workflows/linux-eic-shell.yml
  src/tests/track_propagation_test/TrackPropagationTest_processor.cc
Labels: topic: infrastructure

#1388 Remove outdated comment on mc-cluster associations
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

#1354 feat: PFRICH digitization plugin
  src/detectors/CMakeLists.txt
  src/detectors/PFRICH/CMakeLists.txt
  src/detectors/PFRICH/PFRICH.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: infrastructure

#1381 LUMISPECCAL: LumiSpecCALHits -> EcalLumiSpecHits
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
Labels: topic: calorimetry, topic: far-backward

#1392 Add associations between tracker Raw and Sim hits
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/digi/SiliconTrackerDigi.h
  src/detectors/B0TRK/B0TRK.cc
  src/detectors/BTOF/BTOF.cc
  src/detectors/BTRK/BTRK.cc
  src/detectors/BVTX/BVTX.cc
  src/detectors/ECTOF/ECTOF.cc
  src/detectors/ECTRK/ECTRK.cc
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/LOWQ2/LOWQ2.cc
  src/detectors/MPGD/MPGD.cc
  src/detectors/RPOTS/RPOTS.cc
  src/factories/digi/SiliconTrackerDigi_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking, topic: PID, topic: far-forward, topic: barrel, topic: forward, topic: digitization

#1379 treewide: fix "Immutable objects can only be added to subset collections" exception
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/algorithms/reco/MatchClusters.cc
  src/algorithms/reco/MatchClusters.h
Labels: topic: calorimetry

#1395 feat: convert RichTrack factory to JOmniFactory
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackPropagation.h
  src/algorithms/tracking/TrackPropagationConfig.h
  src/detectors/DRICH/DRICH.cc
  src/global/pid/RichTrackConfig.h
  src/global/pid/RichTrack_factory.cc
  src/global/pid/RichTrack_factory.h
  src/global/tracking/tracking.cc
  src/services/geometry/richgeo/ActsGeo.cc
  src/services/geometry/richgeo/ActsGeo.h
  src/tests/track_propagation_test/TrackPropagationTest_processor.cc
Labels: topic: tracking, topic: PID, topic: infrastructure, topic: barrel

#1399 Prepare for OneToOne relation to SimHit in MCRecoTrackerHitAssociation
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/pid/IrtCherenkovParticleID.cc
Labels: topic: PID, topic: digitization

#921 Add simple tagger tracker hit clustering
  src/algorithms/fardetectors/FarDetectorTrackerCluster.cc
  src/algorithms/fardetectors/FarDetectorTrackerCluster.h
  src/algorithms/fardetectors/FarDetectorTrackerClusterConfig.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/fardetectors/FarDetectorTrackerCluster_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/algorithmsInit.cc
  src/tests/algorithms_test/tracking_SiliconSimpleCluster.cc
Labels: topic: tracking, topic: infrastructure

#1402 Add minbias test
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure
