Repository eic/EICrecon, pull requests merged in 2024-08, with the labels that each got.

#1544 Added missing seed finder parameter
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking

#1546 fix(ci): split dot convert to svg into separate step
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1540 BHCAL: drop support for legacy sectors
  src/detectors/BHCAL/BHCAL.cc
Labels: topic: calorimetry, topic: barrel

#1550 CalorimeterIslandCluster: switch to use EvaluatorSvc
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
Labels: topic: calorimetry

#1547 fix(ci): suppress more UB false positives out of our scope
  .github/ubsan.supp
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1554 CalorimeterIslandCluster: peakNeighbourhoodMatrix to control how far peaks need to be to split
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/calorimetry/CalorimeterIslandClusterConfig.h
  src/detectors/EEMC/EEMC.cc
  src/tests/algorithms_test/calorimetry_CalorimeterIslandCluster.cc
Labels: topic: calorimetry, topic: backward

#1555 fix: properly const_cast dynamic BField pointer
  src/algorithms/tracking/IterativeVertexFinder.cc
Labels: topic: tracking

#1556 fix: rm repeated information logging line in CalorimeterIslandClustering
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
Labels: topic: calorimetry

#1557 fix: avoid integer wraparound in CalorimeterHitDigi
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
Labels: topic: calorimetry, topic: digitization

#1535 Add one-to-one relation with raw tracker/calorimeter hit for reconstructed tracker/calorimeter hit
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/tracking/TrackerHitReconstruction.cc
Labels: topic: calorimetry, topic: tracking, topic: digitization

#1558 feat: print error when raw hit has amplitude > ADC capacity
  src/algorithms/calorimetry/CalorimeterHitReco.cc
Labels: topic: calorimetry

#1559 CalorimeterIslandCluster: avoid complaining about missing readouts
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
Labels: topic: calorimetry

#1532 lowered the amount of distance neighbor hits in topoclustering in the ZDC
  src/detectors/ZDC/ZDC.cc
Labels: topic: calorimetry, topic: far-forward

#1564 feat: add track associations based on raw hit association, weighted by number of hits
  src/algorithms/tracking/ActsToTracks.cc
  src/algorithms/tracking/ActsToTracks.h
  src/detectors/B0TRK/B0TRK.cc
  src/detectors/BTOF/BTOF.cc
  src/detectors/BTRK/BTRK.cc
  src/detectors/BVTX/BVTX.cc
  src/detectors/ECTOF/ECTOF.cc
  src/detectors/ECTRK/ECTRK.cc
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/LOWQ2/LOWQ2.cc
  src/detectors/MPGD/MPGD.cc
  src/detectors/RPOTS/RPOTS.cc
  src/global/tracking/ActsToTracks_factory.h
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking, topic: PID, topic: far-forward, topic: barrel, topic: forward

#1567 src/detectors: remove unused dimScaledLocalDistXY settings
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/ZDC/ZDC.cc
Labels: topic: calorimetry, topic: far-forward, topic: barrel, topic: forward

#1568 CalorimeterIslandCluster: fix incorrect distance parameter priorities
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
Labels: topic: calorimetry

#1578 treewide: use podio:output_collections instead of deprecated podio:output_include_collections
  .github/workflows/linux-eic-shell.yml
  docs/howto/visualize_callgraph.md
  docs/tutorial/02-work-environment.md
  docs/tutorial/04-factory.md
  src/benchmarks/reconstruction/tof_efficiency/README.md
  src/benchmarks/reconstruction/tracking_efficiency/README.md
  src/detectors/LUMISPECCAL/README.md
  src/services/io/podio/README.md
Labels: topic: documentation, topic: calorimetry, topic: far-backward, topic: infrastructure

#1579 fix: list correct dimension in ImagingTopoCluster
  src/algorithms/calorimetry/ImagingTopoCluster.h
Labels: topic: calorimetry

#1582 fix: add rule to ubsan.supp to avoid spurious UB warning
  .github/ubsan.supp
Labels: topic: infrastructure

#1591 fix(ci): pin upload-artifact/merge to v4.3.5
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1586 Update to seed finder distance parameter
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
Labels: topic: tracking

#1596 linux-eic-shell.yml: continue-on-error for graphviz rendering
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1597 fix: CMake only needs CXX compiler
  CMakeLists.txt
  src/utilities/eicrecon/CMakeLists.txt
Labels: topic: infrastructure

#1581 fix: introduce sorted index proxy to allow early break on neighbor search
  src/algorithms/calorimetry/ImagingTopoCluster.h
  src/algorithms/calorimetry/ImagingTopoClusterConfig.h
  src/factories/calorimetry/ImagingTopoCluster_factory.h
Labels: topic: calorimetry

#1577 reco.cc: add InclusiveKinematicseSigma backwards compatibility for now
  src/global/reco/reco.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: infrastructure

#1584 fix: deterministic cluster time
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

#1602 fix(ci): use {ref,new} labels on capybara plots
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1598 fix: write local position in mm in CalorimeterHitsMerger
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
Labels: topic: calorimetry

#1599 fix: typo in comment
  src/algorithms/calorimetry/ImagingTopoCluster.h
Labels: topic: calorimetry

#1594 allow MultiSegmentation in calorimeter hit recon
  src/algorithms/calorimetry/CalorimeterHitReco.cc
Labels: topic: calorimetry

#1576 IterativeVertexFinder: fill vertex-to-particle relation
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/IterativeVertexFinder.h
  src/global/tracking/IterativeVertexFinder_factory.h
  src/global/tracking/tracking.cc
Labels: topic: tracking, topic: infrastructure

#1603 feat(ci): store prmon summary as artifact
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1595 HcalEndcapPInsertImagingProtoClusters: use a larger hit spacing threshold
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: forward

#1601 feat: produce *RawHitAssociations in CalorimeterHitDigi
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterHitDigi_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
Labels: topic: calorimetry, topic: far-forward, topic: far-backward, topic: barrel, topic: forward, topic: backward, topic: digitization
