Repository eic/EICrecon, pull requests merged in 2024-03, with the labels that each got.

#1316 fix: rm redundant src/tests/track_seeding
  src/tests/CMakeLists.txt
  src/tests/track_seeding_test/CMakeLists.txt
  src/tests/track_seeding_test/README.md
  src/tests/track_seeding_test/TrackSeedingTest_processor.cc
  src/tests/track_seeding_test/TrackSeedingTest_processor.h
  src/tests/track_seeding_test/track_seeding_test.cc
Labels: topic: infrastructure

#1240 Update BHCal Sector and Layer Fields to Match New Readout
  src/detectors/BHCAL/BHCAL.cc
Labels: topic: calorimetry, topic: barrel

#1315 Add digi and fix reco for roman pots
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/fardetectors/MatrixTransferStatic.h
  src/algorithms/fardetectors/MatrixTransferStaticConfig.h
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/RPOTS/RPOTS.cc
  src/factories/fardetectors/MatrixTransferStatic_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: far-forward

#1317 fit: convert TrackPropagation_factory to JOmniFactory
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackPropagation.h
  src/algorithms/tracking/TrackPropagationConfig.h
  src/detectors/BTRK/CMakeLists.txt
  src/global/pid/RichTrack_factory.cc
  src/global/tracking/CMakeLists.txt
  src/global/tracking/TrackPropagation_factory.cc
  src/global/tracking/TrackPropagation_factory.h
  src/global/tracking/tracking.cc
  src/tests/track_propagation_test/TrackPropagationTest_processor.cc
Labels: topic: tracking, topic: infrastructure, topic: barrel

#1251 Introduce factory to subdivide collection
  src/algorithms/meta/SubDivideCollection.h
  src/algorithms/meta/SubDivideCollectionConfig.h
  src/algorithms/meta/SubDivideFunctors.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/meta/SubDivideCollection_factory.h
  src/global/CMakeLists.txt
  src/global/beam/CMakeLists.txt
  src/global/beam/beam.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/utilities/eicrecon/eicrecon.cc
Labels: topic: tracking, topic: infrastructure

#1147 feat: add cmake-format and cmake-lint support and first pass cleanup
  .github/cmake-lint.py
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/git_version.cmake
  cmake/jana_plugin.cmake
  src/benchmarks/CMakeLists.txt
  src/benchmarks/detectors/EcalBarrelScFiCheck/CMakeLists.txt
  src/benchmarks/reconstruction/TRACKINGcheck/CMakeLists.txt
  src/benchmarks/reconstruction/femc_studies/CMakeLists.txt
  src/benchmarks/reconstruction/lfhcal_studies/CMakeLists.txt
  src/benchmarks/reconstruction/tracking_occupancy/CMakeLists.txt
  src/detectors/B0ECAL/CMakeLists.txt
  src/detectors/BEMC/CMakeLists.txt
  src/detectors/BHCAL/CMakeLists.txt
  src/detectors/CMakeLists.txt
  src/detectors/EHCAL/CMakeLists.txt
  src/detectors/FHCAL/CMakeLists.txt
  src/detectors/LOWQ2/CMakeLists.txt
  src/detectors/RPOTS/CMakeLists.txt
  src/detectors/ZDC/CMakeLists.txt
  src/global/tracking/CMakeLists.txt
  src/scripts/CMakeLists.txt
  src/services/io/podio/CMakeLists.txt
  src/services/rootfile/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utilities/eicrecon/CMakeLists.txt
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: infrastructure, topic: barrel, topic: forward, topic: backward

#1319 fix: rm unused TrackProjectorConfig
  src/algorithms/tracking/TrackProjector.h
  src/algorithms/tracking/TrackProjectorConfig.h
  src/global/tracking/TrackProjector_factory.h
Labels: topic: tracking

#1322 fix: don't trigger container build with VERSION
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1333 fix(ci): set 32 bits for all EICrecon runs
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1332 fix(ci): set vm.mmap_rnd_bits=28
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1345 Fix to seed theta and phi covariance indices
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking

#1347 linux-eic-shell.yml: run eicrecon with janatop
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1353 fix: use proper EDM4hep getter in ParticlesWithPID.cc
  src/algorithms/pid/ParticlesWithPID.cc
Labels: topic: PID

#1346 treewide: use PODIO ObjectID instead SimID/RecID indices
  src/algorithms/pid/ParticlesWithPID.cc
  src/algorithms/reco/ElectronReconstruction.cc
  src/algorithms/reco/InclusiveKinematicsDA.cc
  src/algorithms/reco/InclusiveKinematicsElectron.cc
  src/algorithms/reco/InclusiveKinematicsJB.cc
  src/algorithms/reco/InclusiveKinematicsSigma.cc
  src/algorithms/reco/InclusiveKinematicseSigma.cc
  src/algorithms/reco/MatchClusters.cc
  src/tests/tracking_test/TrackingTest_processor.cc
Labels: topic: PID

#1311 feat: propagate AlgorithmsInit_service use for algorithms::GeoSvc
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/CalorimeterHitReco.h
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
  src/algorithms/calorimetry/CalorimeterHitsMerger.h
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/calorimetry/HEXPLIT.cc
  src/algorithms/calorimetry/HEXPLIT.h
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.h
  src/algorithms/digi/PhotoMultiplierHitDigiConfig.h
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/fardetectors/MatrixTransferStatic.h
  src/factories/calorimetry/CalorimeterHitReco_factory.h
  src/factories/calorimetry/CalorimeterHitsMerger_factory.h
  src/factories/calorimetry/CalorimeterIslandCluster_factory.h
  src/factories/calorimetry/HEXPLIT_factory.h
  src/factories/fardetectors/MatrixTransferStatic_factory.h
  src/global/digi/PhotoMultiplierHitDigi_factory.h
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/algorithmsInit.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
  src/tests/algorithms_test/calorimetry_CalorimeterIslandCluster.cc
  src/tests/algorithms_test/calorimetry_HEXPLIT.cc
Labels: topic: calorimetry, topic: infrastructure

#1352 labeler.yml: handle digitization and jets topics
  .github/labeler.yml
Labels: topic: infrastructure
