Repository eic/EICrecon, pull requests merged in 2024-09, with the labels that each got.

#1605 tracking: use Seeded tracks by default, rename previous default to TruthSeeded
  src/detectors/BTOF/BTOF.cc
  src/detectors/DIRC/DIRC.cc
  src/detectors/DRICH/DRICH.cc
  src/detectors/PFRICH/PFRICH.cc
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: PID, topic: barrel

#1593 fix: avoid division by zero by using realistic ZDC Hcal digitization
  src/detectors/ZDC/ZDC.cc
Labels: topic: calorimetry, topic: far-forward

#1611 updated MIP value in insert; also adjusted parameters of the topo clustering
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: forward

#1406 Add Track-Based Cluster Merging Algorithm
  src/algorithms/calorimetry/TrackClusterMergeSplitter.cc
  src/algorithms/calorimetry/TrackClusterMergeSplitter.h
  src/algorithms/calorimetry/TrackClusterMergeSplitterConfig.h
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/factories/calorimetry/TrackClusterMergeSplitter_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: calorimetry, topic: barrel, topic: forward, topic: backward

#1396 Create Multiple Primary MC-Cluster Associations
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
  src/tests/algorithms_test/calorimetry_CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry, topic: far-forward, topic: far-backward, topic: barrel, topic: forward, topic: backward

#1617 increased w0 parameter in cluster CoG for the ZDC
  src/detectors/ZDC/ZDC.cc
Labels: topic: calorimetry, topic: far-forward

#1619 Update MPGD.cc thresholds
  src/detectors/MPGD/MPGD.cc
Labels: topic: tracking, improvement, topic: barrel

#1620 doc: jug_xl -> eic_xl
  docs/howto/use_docker.md
  docs/howto/use_singularity.md
  docs/tutorial/02-work-environment.md
Labels: topic: documentation

#1621 Update to SiPM-on-Tile ZDC digitization parameters
  src/detectors/ZDC/ZDC.cc
Labels: topic: calorimetry, topic: far-forward

#1613 updated parameters for clustering in the forward Ecal
  src/detectors/FEMC/FEMC.cc
Labels: topic: calorimetry, topic: forward

#1622 Fix JANA2-related deprecation warnings and TODOs
  CMakeLists.txt
  src/extensions/jana/JOmniFactory.h
  src/extensions/jana/JOmniFactoryGeneratorT.h
  src/tests/omnifactory_test/JOmniFactoryTests.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward
