Repository eic/EICrecon, pull requests merged in 2024-12, with the labels that each got.

#1677 CKFTracking: remove Acts tracks that failed to extrapolate, not just the trajectories
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking

#1618 add ONNXInference algorithm, use it to provide EcalEndcapNClusterParticleIDs
  src/algorithms/onnx/CalorimeterParticleIDPostML.cc
  src/algorithms/onnx/CalorimeterParticleIDPostML.h
  src/algorithms/onnx/CalorimeterParticleIDPreML.cc
  src/algorithms/onnx/CalorimeterParticleIDPreML.h
  src/algorithms/onnx/InclusiveKinematicsML.cc
  src/algorithms/onnx/ONNXInference.cc
  src/algorithms/onnx/ONNXInference.h
  src/algorithms/onnx/ONNXInferenceConfig.h
  src/detectors/EEMC/CMakeLists.txt
  src/detectors/EEMC/EEMC.cc
  src/factories/calorimetry/CalorimeterParticleIDPostML_factory.h
  src/factories/calorimetry/CalorimeterParticleIDPreML_factory.h
  src/factories/meta/ONNXInference_factory.h
Labels: topic: calorimetry, topic: infrastructure, topic: backward

#1687 feat(ci): runs-on: ubuntu-latest -> ubuntu-22.04
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure
