Repository eic/EICrecon, pull requests merged in 2024-01, with the labels that each got.

#1194 fix: rm unused GeoSvc from CalorimeterClusterRecoCoG
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
Labels: topic: calorimetry

#1193 fix: better support for downstream CMake consumers
  CMakeLists.txt
  cmake/EICreconConfig.cmake.in
  cmake/jana_plugin.cmake
  src/algorithms/CMakeLists.txt
  src/algorithms/interfaces/CMakeLists.txt
  src/benchmarks/detectors/EcalBarrelScFiCheck/CMakeLists.txt
  src/benchmarks/reconstruction/TRACKINGcheck/CMakeLists.txt
  src/detectors/B0ECAL/CMakeLists.txt
  src/detectors/BEMC/CMakeLists.txt
  src/detectors/BHCAL/CMakeLists.txt
  src/detectors/EEMC/CMakeLists.txt
  src/detectors/EHCAL/CMakeLists.txt
  src/detectors/FEMC/CMakeLists.txt
  src/detectors/FHCAL/CMakeLists.txt
  src/detectors/LOWQ2/CMakeLists.txt
  src/detectors/LUMISPECCAL/CMakeLists.txt
  src/detectors/RPOTS/CMakeLists.txt
  src/detectors/ZDC/CMakeLists.txt
  src/extensions/CMakeLists.txt
  src/extensions/jana/CMakeLists.txt
  src/extensions/jana/JChainMultifactoryT.h
  src/extensions/jana/JOmniFactory.h
  src/extensions/spdlog/CMakeLists.txt
  src/factories/CMakeLists.txt
  src/factories/calorimetry/CMakeLists.txt
  src/factories/digi/CMakeLists.txt
  src/factories/fardetectors/CMakeLists.txt
  src/factories/tracking/CMakeLists.txt
  src/services/io/podio/CMakeLists.txt
  src/services/io/podio/JEventSourcePODIO.cc
  src/services/io/podio/JEventSourcePODIOLegacy.cc
  src/tests/omnifactory_test/CMakeLists.txt
  src/tests/tracking_test/TrackingTest_processor.cc
Labels: topic: calorimetry, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward

#1191 feat: set default CMAKE_BUILD_TYPE in CMakeLists.txt
  CMakeLists.txt
  README.md
Labels: topic: infrastructure

#1110 feat: install capybara only when not available
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1201 fix: convert ImagingClusterReco to algorithms interface
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/factories/calorimetry/ImagingClusterReco_factory.h
Labels: topic: calorimetry

#1199 feat: convert CalorimeterTruthClustering to algorithms interface
  src/algorithms/calorimetry/CalorimeterTruthClustering.cc
  src/algorithms/calorimetry/CalorimeterTruthClustering.h
  src/factories/calorimetry/CalorimeterTruthClustering_factory.h
Labels: topic: calorimetry

#1192 feat: rm `print_functions.cmake` with non-standard macros
  CMakeLists.txt
  cmake/EICreconConfig.cmake.in
  cmake/print_functions.cmake
Labels: topic: infrastructure

#1202 fix: convert ImagingTopoCluster to algorithms interface
  src/algorithms/calorimetry/ImagingTopoCluster.h
  src/factories/calorimetry/ImagingTopoCluster_factory.h
Labels: topic: calorimetry

#1185 Updated track seeding globaltoLocal() conversion
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking

#1208 fix: convert TruthEnergyPositionClusterMerger to algorithms interface
  src/algorithms/calorimetry/TruthEnergyPositionClusterMerger.h
  src/factories/calorimetry/TruthEnergyPositionClusterMerger_factory.h
Labels: topic: calorimetry

#1177 feat: migrate PhotoMultiplierDigi_factory to JOmniFactory
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.h
  src/detectors/BTRK/CMakeLists.txt
  src/detectors/DIRC/CMakeLists.txt
  src/detectors/DIRC/DIRC.cc
  src/detectors/DRICH/CMakeLists.txt
  src/detectors/DRICH/DRICH.cc
  src/global/CMakeLists.txt
  src/global/digi/CMakeLists.txt
  src/global/digi/PhotoMultiplierHitDigi_factory.cc
  src/global/digi/PhotoMultiplierHitDigi_factory.h
Labels: topic: tracking, topic: PID, topic: infrastructure, topic: barrel

#1213 fixed Seed charge calculation
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking

#1214 Fix: Small change to phi difference calculation in seed charge determination
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking

#1198 fix: convert TrackParamTruthInit to use DD4hep units
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackParamTruthInitConfig.h
Labels: topic: tracking

#471 feat(ci): trigger eicweb container build for benchmarks
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1224 CalorimeterClusterRecoCoG: copy hits references from ProtoCluster
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry

#1230 linux-eic-shell.yml: don't install Bokeh and PyGitHub via pip
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1234 feat: convert MergeTracks to use algorithms:: interface (not yet omni)
  src/algorithms/pid/MergeTracks.cc
  src/algorithms/pid/MergeTracks.h
  src/global/pid/MergeTrack_factory.cc
  src/global/pid/MergeTrack_factory.h
  src/tests/algorithms_test/pid_MergeTracks.cc
Labels: topic: PID

#1236 MergeTracks.h: fix spelling
  src/algorithms/pid/MergeTracks.h
Labels: topic: PID

#1238 feat: convert MergeParticleID to use algorithms:: interface
  src/algorithms/pid/MergeParticleID.cc
  src/algorithms/pid/MergeParticleID.h
  src/global/pid/MergeCherenkovParticleID_factory.cc
  src/global/pid/MergeCherenkovParticleID_factory.h
  src/tests/algorithms_test/pid_MergeParticleID.cc
Labels: topic: PID

#1243 linux-eic-shell.yml: delay posting capybara comment until pages are deployed
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1231 docs/tutorial/04-factory.md: link to updated tutorial
  docs/howto/add_factory.md
  docs/tutorial/04-factory.md
Labels: topic: documentation

#1242 fix: use track direction in localToGlobal in TrackProjector
  src/algorithms/tracking/TrackProjector.cc
Labels: topic: tracking

#1221 ZDC: LYSO + SiPM-on-tile
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoGConfig.h
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/HEXPLIT.cc
  src/algorithms/calorimetry/HEXPLIT.h
  src/algorithms/calorimetry/HEXPLITConfig.h
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
  src/factories/calorimetry/HEXPLIT_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/calorimetry_HEXPLIT.cc
Labels: topic: calorimetry, topic: far-forward, topic: infrastructure

#1245 linux-eic-shell.yml: fix capybara comment regressions
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1241 feat: forward support edm4eic version 5
  src/algorithms/pid/ParticlesWithPID.cc
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking, topic: PID

#1210 ParticlesWithPID: add associations from ReconstructedParticles to TrackParameters
  src/algorithms/pid/ParticlesWithPID.cc
  src/algorithms/pid/ParticlesWithPID.h
  src/global/pid/ParticlesWithPID_factory.h
  src/global/pid/pid.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: PID

#1253 fix(ci): run regularly on main
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1244 fix: explicitly set off-diagonal elements in the covariance matrices
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
Labels: topic: tracking

#1256 treewide: cleanup EDM4eic 2.x deprecation, require at least 3.0
  CMakeLists.txt
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackPropagation.cc
  src/global/tracking/TrackPropagation_factory.cc
Labels: topic: tracking, topic: infrastructure

#1250 Fix hit merging and add thresholds for backward HCal
  src/detectors/EHCAL/EHCAL.cc
Labels: topic: calorimetry, topic: backward

#1258 fix: avoid CI warnings by upgrading actions; add dependabot
  .github/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1266 Update CalorimeterClusterRecoCoGConfig: specify units for default value logWeightBase_Eref
  src/algorithms/calorimetry/CalorimeterClusterRecoCoGConfig.h
Labels: topic: calorimetry

#1233 fix(ci): don't trigger eic_container in merge queue
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1252 fix: use jacobian to convert bound covariance to free 3d position error
  src/algorithms/tracking/TrackProjector.cc
Labels: topic: tracking
