Repository eic/EICrecon, pull requests merged in 2024-07, with the labels that each got.

#1512 added functionality to use ZDC Ecal clusters in neutron recon
  src/algorithms/reco/FarForwardNeutronReconstruction.cc
  src/algorithms/reco/FarForwardNeutronReconstruction.h
  src/algorithms/reco/FarForwardNeutronReconstructionConfig.h
  src/detectors/ZDC/ZDC.cc
  src/factories/reco/FarForwardNeutronReconstruction_factory.h
  src/global/reco/reco.cc
  src/tests/algorithms_test/reco_FarForwardNeutronReconstruction.cc
Labels: topic: calorimetry, topic: far-forward

#1520 fix: don't require Acts::{Identification,TGeo} component, but require Json
  CMakeLists.txt
  cmake/jana_plugin.cmake
Labels: topic: infrastructure

#1527 linux-eic-shell.yml: don't trigger eic_container builds on schedule
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1528 fix: rm unneeded CMakeLists lines
  src/benchmarks/reconstruction/femc_studies/CMakeLists.txt
  src/benchmarks/reconstruction/lfhcal_studies/CMakeLists.txt
  src/benchmarks/reconstruction/tracking_occupancy/CMakeLists.txt
Labels: topic: infrastructure

#1529 Fix: Correct ZDC LYSO Sampling Fraction
  src/algorithms/reco/FarForwardNeutronReconstructionConfig.h
  src/detectors/ZDC/ZDC.cc
  src/global/reco/reco.cc
Labels: topic: calorimetry, topic: far-forward

#1525 feat: fix compilation for Acts versions from v33 up to v35
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/DD4hepBField.h
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/SpacePoint.h
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackProjector.h
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking

#1511 CalorimeterClusterRecoCoG: set intrinsic{Phi,Theta}
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoGConfig.h
  src/detectors/BEMC/BEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
  src/tests/algorithms_test/calorimetry_CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: infrastructure, topic: barrel, topic: forward

#1471 linux-eic-shell.yml: build against 24.05.2-stable container
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1534 TracksToParticles: avoid initializing mass from truth
  src/algorithms/tracking/TracksToParticles.cc
Labels: topic: tracking

#1536 BTOF,DRICH,DIRC,PFRICH: unroll PID LUT factory initialization loops
  src/detectors/BTOF/BTOF.cc
  src/detectors/DIRC/DIRC.cc
  src/detectors/DRICH/DRICH.cc
  src/detectors/PFRICH/PFRICH.cc
Labels: topic: PID, topic: barrel

#1533 ImagingTopoCluster: fix Init printouts by adding missing break statements
  src/algorithms/calorimetry/ImagingTopoCluster.h
Labels: topic: calorimetry
