Repository eic/EICrecon, pull requests merged in 2024-05, with the labels that each got.

#1283 Add linear fitting for low-q2 detector
  .github/iwyu.imp
  src/algorithms/fardetectors/FarDetectorLinearTracking.cc
  src/algorithms/fardetectors/FarDetectorLinearTracking.h
  src/algorithms/fardetectors/FarDetectorLinearTrackingConfig.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/fardetectors/FarDetectorLinearTracking_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking, topic: infrastructure

#1349 CalorimeterHitReco: use TCling to define SF via expressions
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/CalorimeterHitReco.h
  src/algorithms/calorimetry/CalorimeterHitRecoConfig.h
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterHitReco_factory.h
  src/services/CMakeLists.txt
  src/services/evaluator/CMakeLists.txt
  src/services/evaluator/EvaluatorSvc.cc
  src/services/evaluator/EvaluatorSvc.h
  src/services/evaluator/evaluator.cc
  src/tests/algorithms_test/CMakeLists.txt
  src/utilities/eicrecon/eicrecon.cc
Labels: topic: calorimetry, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward

#1409 fix: rm old epic-capybara
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1408 fix: revert RandomSvc back to std::default_random_engine
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
Labels: topic: calorimetry, topic: digitization

#1414 cmake: use CONFIG mode for onnxruntime
  CMakeLists.txt
  cmake/jana_plugin.cmake
Labels: topic: infrastructure

#1410 CalorimeterHitDigi: use EvaluatorSvc for corrMeanScale
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/algorithms/calorimetry/CalorimeterHitDigiConfig.h
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterHitDigi_factory.h
  src/tests/algorithms_test/algorithmsInit.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
Labels: topic: calorimetry, topic: far-forward, topic: far-backward, topic: barrel, topic: forward, topic: backward, topic: digitization

#1417 Separate tracking and PID factories, use algorithms interface
  src/algorithms/pid/MatchToRICHPID.cc
  src/algorithms/pid/MatchToRICHPID.h
  src/algorithms/pid/MatchToRICHPIDConfig.h
  src/algorithms/pid/ParticlesWithPID.cc
  src/algorithms/pid/ParticlesWithPID.h
  src/algorithms/tracking/TracksToParticles.cc
  src/algorithms/tracking/TracksToParticles.h
  src/algorithms/tracking/TracksToParticlesConfig.h
  src/global/pid/MatchToRICHPID_factory.h
  src/global/pid/ParticlesWithPID_factory.h
  src/global/pid/pid.cc
  src/global/tracking/TracksToParticles_factory.h
  src/global/tracking/tracking.cc
Labels: topic: tracking, topic: PID

#1407 fix: pass logger options from factory to algorithms-interfaced algorithms
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
  src/factories/calorimetry/CalorimeterHitReco_factory.h
  src/factories/calorimetry/CalorimeterHitsMerger_factory.h
  src/factories/calorimetry/CalorimeterIslandCluster_factory.h
  src/factories/calorimetry/CalorimeterTruthClustering_factory.h
  src/factories/calorimetry/EnergyPositionClusterMerger_factory.h
  src/factories/calorimetry/HEXPLIT_factory.h
  src/factories/calorimetry/ImagingClusterReco_factory.h
  src/factories/calorimetry/ImagingTopoCluster_factory.h
  src/factories/calorimetry/TruthEnergyPositionClusterMerger_factory.h
  src/factories/digi/SiliconTrackerDigi_factory.h
  src/factories/fardetectors/FarDetectorLinearTracking_factory.h
  src/factories/fardetectors/FarDetectorTrackerCluster_factory.h
  src/factories/fardetectors/MatrixTransferStatic_factory.h
  src/factories/meta/CollectionCollector_factory.h
  src/factories/meta/FilterMatching_factory.h
  src/factories/meta/SubDivideCollection_factory.h
  src/factories/reco/InclusiveKinematicsML_factory.h
  src/factories/reco/InclusiveKinematicsReconstructed_factory.h
  src/factories/reco/InclusiveKinematicsTruth_factory.h
  src/factories/reco/JetReconstruction_factory.h
  src/factories/reco/TransformBreitFrame_factory.h
  src/global/digi/PhotoMultiplierHitDigi_factory.h
  src/global/pid/MergeTrack_factory.h
  src/global/reco/MatchClusters_factory.h
Labels: topic: calorimetry, topic: digitization

#1424 fix(ci): ubsan with silence_unsigned_overflow=1
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1425 fix(ci): add matrix.release to ccache key
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1423 linux-eic-shell.yml: remove configurations with minq2=1
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1418 feat: convert IrtCherenkovParticleID factory to JOmniFactory
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/pid/IrtCherenkovParticleID.h
  src/algorithms/pid/IrtCherenkovParticleIDConfig.h
  src/detectors/DRICH/DRICH.cc
  src/global/pid/IrtCherenkovParticleID_factory.cc
  src/global/pid/IrtCherenkovParticleID_factory.h
Labels: topic: PID

#1419 feat: convert MergeCherenkovParticleID factory to JOmniFactory
  .github/workflows/linux-eic-shell.yml
  src/detectors/DRICH/DRICH.cc
  src/global/pid/MergeCherenkovParticleID_factory.cc
  src/global/pid/MergeCherenkovParticleID_factory.h
Labels: topic: PID, topic: infrastructure

#1404 added a 'neutron reconstruction' algorithm which creates a neutron candidate that merges all clusters in a given bank
  src/algorithms/reco/FarForwardNeutronReconstruction.cc
  src/algorithms/reco/FarForwardNeutronReconstruction.h
  src/detectors/ZDC/ZDC.cc
  src/factories/reco/FarForwardNeutronReconstruction_factory.h
  src/global/reco/reco.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/reco_test/reco_FarForwardNeutronReconstruction.cc
Labels: topic: calorimetry, topic: far-forward, topic: infrastructure

#1421 feat: rm JChainMultifactory
  src/detectors/DRICH/DRICH.cc
  src/extensions/jana/JChainMultifactoryGeneratorT.h
  src/extensions/jana/JChainMultifactoryT.h
  src/factories/fardetectors/FarDetectorLinearTracking_factory.h
Labels: topic: PID, topic: infrastructure

#1284 Add linear projection onto plane
  src/algorithms/fardetectors/FarDetectorLinearProjection.cc
  src/algorithms/fardetectors/FarDetectorLinearProjection.h
  src/algorithms/fardetectors/FarDetectorLinearProjectionConfig.h
  src/algorithms/fardetectors/FarDetectorTrackerCluster.cc
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/fardetectors/FarDetectorLinearProjection_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking, topic: infrastructure

#1427 Fix compilation issues
  src/tests/CMakeLists.txt
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/reco_FarForwardNeutronReconstruction.cc
  src/tests/reco_test/CMakeLists.txt
  src/tests/reco_test/GlobalReconstructionTest_processor.cc
  src/tests/reco_test/GlobalReconstructionTest_processor.h
  src/tests/reco_test/README.md
  src/tests/reco_test/reco_test.cc
Labels: topic: infrastructure

#1429 fix: rm include unused SpdlogMixin
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
  src/factories/calorimetry/CalorimeterHitDigi_factory.h
  src/factories/calorimetry/CalorimeterHitsMerger_factory.h
  src/factories/fardetectors/FarDetectorLinearProjection_factory.h
  src/global/pid/MergeTrack_factory.h
  src/global/pid/RichTrack_factory.h
  src/global/tracking/CKFTracking_factory.h
  src/global/tracking/TrackParamTruthInit_factory.h
  src/global/tracking/TrackPropagation_factory.h
  src/global/tracking/TrackerMeasurementFromHits_factory.h
Labels: topic: calorimetry, topic: digitization

#1431 cmake: force linkage of shared libraries
  CMakeLists.txt
  cmake/jana_plugin.cmake
  src/services/log/CMakeLists.txt
  src/tests/algorithms_test/CMakeLists.txt
Labels: topic: infrastructure

#1433 linux-eic-shell.yml: remove eicrecon-test-plugins[reco_test]
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1437 pid_lut: avoid overwriting PDG
  src/algorithms/pid_lut/PIDLookup.cc
Labels: backport v1.13

#1441 correct z positions of hits for RP
  src/detectors/RPOTS/RPOTS.cc
Labels: topic: far-forward

#1443 PIDLookup: fix incorrect PDG convention - electron should not be -11
  src/algorithms/pid_lut/PIDLookup.cc
Labels: backport v1.13

#1446 JetReconstructionConfig: reduce default ghost area to 0.01
  src/algorithms/reco/JetReconstructionConfig.h
Labels: topic: jets, backport v1.13

#1448 fix: do not warn about `BOOST_ROOT`
  CMakeLists.txt
Labels: topic: infrastructure

#1449 feat: pre-commit fix in place (interactive use only)
  .pre-commit-config.yaml
Labels: topic: infrastructure

#1444 [v1.13] correct z positions of hits for RP
  src/detectors/RPOTS/RPOTS.cc
Labels: topic: far-forward

#1447 [Backport v1.13] JetReconstructionConfig: reduce default ghost area to 0.01
  src/algorithms/reco/JetReconstructionConfig.h
Labels: topic: jets

#1378 Add FastJet plugin algorithms to jet reconstruction
  cmake/FindFastJetContrib.cmake
  cmake/FindFastJetTools.cmake
  cmake/jana_plugin.cmake
  src/algorithms/reco/CMakeLists.txt
  src/algorithms/reco/JetReconstruction.cc
  src/algorithms/reco/JetReconstruction.h
  src/algorithms/reco/JetReconstructionConfig.h
  src/global/reco/reco.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: infrastructure, topic: jets

#1450 feat: set track relation for calorimeter and DRICH propagations
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackPropagation.h
  src/detectors/DRICH/DRICH.cc
  src/global/pid/RichTrack_factory.h
  src/global/tracking/TrackPropagation_factory.h
  src/global/tracking/tracking.cc
  src/tests/track_propagation_test/TrackPropagationTest_processor.cc
Labels: topic: tracking, topic: PID

#1452 fix(ci): slim down dot output
  .github/janadot.groups
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1457 fix: setup.sh -> bin/thisepic.sh
  .github/workflows/linux-eic-shell.yml
  docs/get-started/eic-shell.md
  docs/howto/full_chain_simulation.md
  docs/howto/run_dd4hep_simulation.md
  docs/howto/use_docker.md
  docs/howto/use_singularity.md
  docs/tutorial/02-work-environment.md
  src/services/geometry/dd4hep/DD4hep_service.cc
  src/tests/tracking_test/README.md
Labels: topic: documentation, topic: infrastructure

#1458 linux-eic-shell.yml: use github.head_ref
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1459 linux-eic-shell.yml: use github.event.merge_group.base_ref
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1432 pid_lut: support reading compressed files for hpdirc.lut.gz
  src/algorithms/pid_lut/PIDLookup.cc
  src/algorithms/pid_lut/PIDLookupConfig.h
  src/detectors/DIRC/DIRC.cc
  src/services/pid_lut/CMakeLists.txt
  src/services/pid_lut/PIDLookupTable.cc
  src/services/pid_lut/PIDLookupTable.h
Labels: topic: infrastructure

#1460 linux-eic-shell.yml: pass PIPELINE_NAME_CONTAINER
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1454 Neutron energy scale
  .github/iwyu.imp
  src/algorithms/reco/FarForwardNeutronReconstruction.cc
  src/algorithms/reco/FarForwardNeutronReconstruction.h
  src/algorithms/reco/FarForwardNeutronReconstructionConfig.h
  src/factories/reco/FarForwardNeutronReconstruction_factory.h
  src/global/reco/reco.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/algorithms_test/reco_FarForwardNeutronReconstruction.cc
Labels: topic: infrastructure

#1463 feat: add matcher for ubsan warnings
  .github/ubsan.json
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1435 Drop support for EDM4eic 4.0.0 and older
  CMakeLists.txt
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking, topic: infrastructure

#1468 Use protoclusters for track cluster merger
  src/algorithms/calorimetry/TrackClusterMergeSplitter.cc
  src/algorithms/calorimetry/TrackClusterMergeSplitter.h
  src/algorithms/calorimetry/TrackClusterMergeSplitterConfig.h
  src/detectors/BHCAL/BHCAL.cc
  src/factories/calorimetry/TrackClusterMergeSplitter_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: calorimetry, topic: barrel

#1465 feat(ci): disable jana ticker; assemble JANA_OPTIONS in env variable
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1470 tracking: refactor EDM conversion to ActsToTracks
  src/algorithms/tracking/ActsToTracks.cc
  src/algorithms/tracking/ActsToTracks.h
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/global/tracking/ActsToTracks_factory.h
  src/global/tracking/CKFTracking_factory.h
  src/global/tracking/tracking.cc
Labels: topic: tracking

#1478 Update the localDistXZ paramter in BEMC.cc
  src/detectors/BEMC/BEMC.cc
Labels: topic: calorimetry, topic: barrel
