Repository eic/EICrecon, pull requests merged in 2024-10, with the labels that each got.

#1628 fix(ci): suppress memory leaks in libJANA.so
  .github/lsan.supp
Labels: topic: infrastructure

#1629 fix(ci): avoid python3.10 reference; don't install bokeh, pygithub
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1630 fix(ci): always run capybara, even when ref is not found
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1633 EEEMCal: remove 2% smearing
  src/detectors/EEMC/EEMC.cc
Labels: topic: calorimetry, topic: backward

#1634 Fix RP reco bug in p_y
  src/algorithms/fardetectors/MatrixTransferStatic.cc
Labels: backport v1.18

#1623 update dynamic range of B0 ECAL
  src/detectors/B0ECAL/B0ECAL.cc
Labels: topic: calorimetry, topic: far-forward

#1637 fix(ci): suppress memory leaks in libJANA.so and DD4hep
  .github/lsan.supp
Labels: topic: infrastructure

#1639 Fix: Correctly fill track parameters covariance error matrix
  src/algorithms/tracking/ActsToTracks.cc
Labels: topic: tracking

#1640 Swap the order of the CKF algorithm arguments
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/global/tracking/CKFTracking_factory.h
Labels: topic: tracking

#1642 BIC sampling fraction update
  src/detectors/BEMC/BEMC.cc
Labels: topic: calorimetry, topic: barrel

#1641 B0ECAL.cc: fix spelling
  src/detectors/B0ECAL/B0ECAL.cc
Labels: topic: calorimetry, topic: far-forward

#1631 Create Multiple Primary MC-Cluster Associations for Topoclusters
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/detectors/BEMC/BEMC.cc
  src/factories/calorimetry/ImagingClusterReco_factory.h
Labels: topic: calorimetry, topic: barrel
