Repository eic/EICrecon, pull requests merged in 2024-11, with the labels that each got.

#1663 CKFTracking: gracefully handle failures when extrapolating to perigee surface
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking

#1660 Fix naming of BTOF hits
  src/benchmarks/reconstruction/tof_efficiency/TofEfficiency_processor.cc
  src/detectors/BTOF/BTOF.cc
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: PID, topic: barrel

#1664 Update of the BIC sampling fractions
  src/detectors/BEMC/BEMC.cc
Labels: topic: calorimetry, topic: barrel

#1667 lsan.supp: add leak:dd4hep::detail::VolumeManager_Populator::scanPhysicalVolume
  .github/lsan.supp
Labels: topic: infrastructure

#1673 Added deltaPhiMax parameter for Seed Finder
  src/algorithms/tracking/OrthogonalTrackSeedingConfig.h
  src/algorithms/tracking/TrackSeeding.cc
  src/global/tracking/TrackSeeding_factory.h
Labels: topic: tracking

#1675 fix: static_cast<float>(sqrt(...)) to avoid c++-narrowing warning/error
  src/algorithms/tracking/TrackProjector.cc
Labels: topic: tracking

#1670 eicrecon: fail on unrecognized parameters
  .github/workflows/linux-eic-shell.yml
  src/utilities/eicrecon/eicrecon_cli.cpp
Labels: topic: infrastructure

#1678 cmake: move find_package from plugin_add to CMakeLists.txt
  CMakeLists.txt
  cmake/jana_plugin.cmake
Labels: topic: infrastructure
