Repository eic/EICrecon, pull requests merged in 2024-06, with the labels that each got.

#1474 updated forward hcal insert recon to use hexplit and topo clustering
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: forward

#1467 Add low Q2 NN inference
  src/algorithms/fardetectors/CMakeLists.txt
  src/algorithms/fardetectors/FarDetectorMLReconstruction.cc
  src/algorithms/fardetectors/FarDetectorMLReconstruction.h
  src/algorithms/fardetectors/FarDetectorMLReconstructionConfig.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/fardetectors/FarDetectorMLReconstruction_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: infrastructure

#1391 Cluster axis direction
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/calorimetry_CalorimeterClusterRecoCoG.cc
Labels: topic: calorimetry, topic: infrastructure

#1482 fix: include vector_utils in ImagingClusterReco
  src/algorithms/calorimetry/ImagingClusterReco.h
Labels: topic: calorimetry

#1466 JEventProcessorPODIO: deprecate podio:output_include_collections parameter
  .github/iwyu.imp
  src/services/io/podio/JEventProcessorPODIO.cc
  src/services/io/podio/JEventProcessorPODIO.h
Labels: topic: infrastructure

#1485 Update linux-eic-shell.yml: PIPELINE_NAME_CONTAINER -> PIPELINE_NAME
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1483 fix: convert to algorithms logger, no m_log in each algorithm class
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/digi/SiliconTrackerDigi.h
  src/algorithms/fardetectors/FarDetectorLinearTracking.cc
  src/algorithms/fardetectors/FarDetectorLinearTracking.h
  src/algorithms/fardetectors/FarDetectorTrackerCluster.cc
  src/algorithms/fardetectors/FarDetectorTrackerCluster.h
  src/algorithms/meta/CollectionCollector.h
  src/algorithms/onnx/InclusiveKinematicsML.cc
  src/algorithms/onnx/InclusiveKinematicsML.h
  src/algorithms/pid/MergeTracks.cc
  src/algorithms/pid/MergeTracks.h
  src/algorithms/reco/HadronicFinalState.cc
  src/algorithms/reco/HadronicFinalState.h
  src/algorithms/reco/InclusiveKinematicsDA.cc
  src/algorithms/reco/InclusiveKinematicsDA.h
  src/algorithms/reco/InclusiveKinematicsElectron.cc
  src/algorithms/reco/InclusiveKinematicsElectron.h
  src/algorithms/reco/InclusiveKinematicsJB.cc
  src/algorithms/reco/InclusiveKinematicsJB.h
  src/algorithms/reco/InclusiveKinematicsSigma.cc
  src/algorithms/reco/InclusiveKinematicsSigma.h
  src/algorithms/reco/InclusiveKinematicsTruth.cc
  src/algorithms/reco/InclusiveKinematicsTruth.h
  src/algorithms/reco/InclusiveKinematicseSigma.cc
  src/algorithms/reco/InclusiveKinematicseSigma.h
  src/algorithms/reco/JetReconstruction.cc
  src/algorithms/reco/JetReconstruction.h
  src/algorithms/reco/TransformBreitFrame.cc
  src/algorithms/reco/TransformBreitFrame.h
  src/factories/digi/SiliconTrackerDigi_factory.h
  src/factories/fardetectors/FarDetectorLinearProjection_factory.h
  src/factories/fardetectors/FarDetectorLinearTracking_factory.h
  src/factories/fardetectors/FarDetectorMLReconstruction_factory.h
  src/factories/fardetectors/FarDetectorTrackerCluster_factory.h
  src/factories/meta/CollectionCollector_factory.h
  src/factories/reco/HadronicFinalState_factory.h
  src/factories/reco/InclusiveKinematicsML_factory.h
  src/factories/reco/InclusiveKinematicsReconstructed_factory.h
  src/factories/reco/InclusiveKinematicsTruth_factory.h
  src/factories/reco/JetReconstruction_factory.h
  src/factories/reco/TransformBreitFrame_factory.h
  src/global/pid/MergeTrack_factory.h
  src/tests/algorithms_test/pid_MergeTracks.cc
  src/tests/algorithms_test/tracking_SiliconSimpleCluster.cc
Labels: topic: PID, topic: jets, topic: digitization

#1383 implementation of ambiguity resolution solver from ACTS
  src/algorithms/tracking/ActsToTracks.cc
  src/algorithms/tracking/AmbiguitySolver.cc
  src/algorithms/tracking/AmbiguitySolver.h
  src/algorithms/tracking/AmbiguitySolverConfig.h
  src/global/tracking/AmbiguitySolver_factory.h
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward, topic: jets, topic: digitization

#1490 feat(ci): eicrecon error matcher
  .github/eicrecon.json
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1489 fix(ci): use correct detector-info hash
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1484 fix: use correct EDM headers in TruthEnergyPositionClusterMerger
  src/algorithms/calorimetry/TruthEnergyPositionClusterMerger.h
Labels: topic: calorimetry

#1493 fixed LFHCAL adjacency matrix
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: forward, backport v1.14

#1494 fix: codespell suggestions
  docs/tutorial/05-contributing.md
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/calorimetry/ImagingTopoCluster.h
Labels: topic: documentation, topic: calorimetry

#1491 Inject Low-Q2 electrons into tracking
  src/global/tracking/tracking.cc
Labels: backport v1.14

#1495 [Backport v1.14] fixed LFHCAL adjacency matrix
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: forward

#1499 HcalEndcapPInsert*Clusters: update sampFrac
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: forward

#1422 linux-eic-shell.yml: specify clang++ explicitly
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1513 fix: ensure USE_ONNX=OFF can compile
  CMakeLists.txt
  src/global/reco/CMakeLists.txt
  src/global/reco/reco.cc
Labels: topic: infrastructure

#1508 AlgorithmsInit_service: fix crashes when algorithms are re-created
  .github/workflows/linux-eic-shell.yml
  src/services/algorithms_init/AlgorithmsInit_service.h
Labels: topic: infrastructure

#1487 feat: particleSvc to distribute mass by PDG
  src/algorithms/interfaces/CMakeLists.txt
  src/algorithms/interfaces/ParticleSvc.cc
  src/algorithms/interfaces/ParticleSvc.h
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/pid/IrtCherenkovParticleID.h
  src/algorithms/pid/Tools.h
  src/algorithms/reco/HadronicFinalState.cc
  src/algorithms/reco/HadronicFinalState.h
  src/algorithms/reco/InclusiveKinematicsDA.cc
  src/algorithms/reco/InclusiveKinematicsDA.h
  src/algorithms/reco/InclusiveKinematicsElectron.cc
  src/algorithms/reco/InclusiveKinematicsElectron.h
  src/algorithms/reco/InclusiveKinematicsJB.cc
  src/algorithms/reco/InclusiveKinematicsJB.h
  src/algorithms/reco/InclusiveKinematicsSigma.cc
  src/algorithms/reco/InclusiveKinematicsSigma.h
  src/algorithms/reco/InclusiveKinematicsTruth.cc
  src/algorithms/reco/InclusiveKinematicsTruth.h
  src/algorithms/reco/InclusiveKinematicseSigma.cc
  src/algorithms/reco/InclusiveKinematicseSigma.h
  src/algorithms/reco/ScatteredElectronsTruth.cc
  src/algorithms/reco/ScatteredElectronsTruth.h
  src/algorithms/reco/TransformBreitFrame.cc
  src/algorithms/reco/TransformBreitFrame.h
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackParamTruthInit.h
  src/factories/reco/InclusiveKinematicsTruth_factory.h
  src/services/algorithms_init/AlgorithmsInit_service.h
  src/services/algorithms_init/CMakeLists.txt
Labels: topic: tracking, topic: PID, topic: infrastructure

#1492 Setup mc truth UndoAfterBurner
  src/algorithms/reco/UndoAfterBurner.cc
  src/algorithms/reco/UndoAfterBurner.h
  src/algorithms/reco/UndoAfterBurnerConfig.h
  src/factories/reco/UndoAfterBurnerMCParticles_factory.h
  src/global/reco/reco.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: calorimetry, topic: infrastructure, topic: forward
