Repository eic/EICrecon, pull requests merged in 2024-02, with the labels that each got.

#1274 Issue warning if surface not planar in draw surfaces
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
Labels: topic: tracking

#1281 improvement in charge calculation in trackseeding
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
Labels: topic: tracking

#1299 fix(ci): accept failing workflow runs as source of capybara reference
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1291 Included PCA calculations using a straight-line approximation in truth seeded tracking
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackParamTruthInit.h
  src/global/tracking/TrackParamTruthInit_factory.h
Labels: topic: tracking

#1301 add raw tracker hits to output collection
  src/detectors/BVTX/BVTX.cc
  src/detectors/ECTRK/ECTRK.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking, topic: barrel

#1285 feat: write edm4eic::Tracks in CKFTracking
  src/algorithms/pid/ParticlesWithPID.cc
  src/algorithms/pid/ParticlesWithPID.h
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/global/pid/ParticlesWithPID_factory.h
  src/global/pid/pid.cc
  src/global/tracking/CKFTracking_factory.h
  src/global/tracking/tracking.cc
Labels: topic: tracking, topic: PID

#1303 fix(ci): reduce API requests by specifying workflow name
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1304 fix(ci): store pull_request.head.sha for later use
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1306 fix(ci): accept only completed workflow runs as source of capybara reference
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1195 feat: register DD4hep_service as algorithms::GeoSvc provider
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/factories/calorimetry/CalorimeterHitDigi_factory.h
  src/services/CMakeLists.txt
  src/services/algorithms_init/AlgorithmsInit_service.h
  src/services/algorithms_init/CMakeLists.txt
  src/services/algorithms_init/algorithms_init.cc
  src/services/geometry/dd4hep/DD4hep_service.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
  src/utilities/eicrecon/eicrecon.cc
Labels: topic: calorimetry, topic: infrastructure

#1307 feat(ci): add last updated timestamp to capybara post
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1282 Generic template collector factory
  src/algorithms/meta/CollectionCollector.h
  src/algorithms/tracking/TrackerHitCollector.h
  src/factories/CMakeLists.txt
  src/factories/meta/CMakeLists.txt
  src/factories/meta/CollectionCollector_factory.h
  src/factories/tracking/TrackerHitCollector_factory.cc
  src/factories/tracking/TrackerHitCollector_factory.h
  src/global/tracking/tracking.cc
Labels: topic: tracking, topic: infrastructure

#1197 feat: use logger service that comes with algorithms
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/CalorimeterHitReco.h
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
  src/algorithms/calorimetry/CalorimeterHitsMerger.h
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/calorimetry/CalorimeterTruthClustering.cc
  src/algorithms/calorimetry/CalorimeterTruthClustering.h
  src/algorithms/calorimetry/EnergyPositionClusterMerger.h
  src/algorithms/calorimetry/HEXPLIT.cc
  src/algorithms/calorimetry/HEXPLIT.h
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/algorithms/calorimetry/ImagingTopoCluster.h
  src/algorithms/calorimetry/TruthEnergyPositionClusterMerger.h
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
  src/factories/calorimetry/CalorimeterHitDigi_factory.h
  src/factories/calorimetry/CalorimeterHitReco_factory.h
  src/factories/calorimetry/CalorimeterHitsMerger_factory.h
  src/factories/calorimetry/CalorimeterIslandCluster_factory.h
  src/factories/calorimetry/CalorimeterTruthClustering_factory.h
  src/factories/calorimetry/EnergyPositionClusterMerger_factory.h
  src/factories/calorimetry/HEXPLIT_factory.h
  src/factories/calorimetry/ImagingClusterReco_factory.h
  src/factories/calorimetry/ImagingTopoCluster_factory.h
  src/factories/calorimetry/TruthEnergyPositionClusterMerger_factory.h
  src/services/algorithms_init/AlgorithmsInit_service.h
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
  src/tests/algorithms_test/calorimetry_CalorimeterIslandCluster.cc
  src/tests/algorithms_test/calorimetry_HEXPLIT.cc
Labels: topic: calorimetry, topic: infrastructure

#1313 fix: convert MergeTrack to JOmniFactory
  src/detectors/DRICH/DRICH.cc
  src/global/pid/MergeTrack_factory.cc
  src/global/pid/MergeTrack_factory.h
Labels: topic: PID
