Repository eic/EICrecon, pull requests merged in 2025-08, with the labels that each got.

#1974 Switched to using constant fraction discriminator for BTOF sensors
  src/algorithms/digi/CFDROCDigitization.cc
  src/algorithms/digi/CFDROCDigitization.h
  src/algorithms/digi/CFDROCDigitizationConfig.h
  src/detectors/BTOF/BTOF.cc
  src/factories/digi/CFDROCDigitization_factory.h
Labels: topic: PID, topic: barrel, topic: digitization

#2005 Revert "feat: inherit jana::components::JOmniFactory and transition to using upstream JOmniFactory (#1959)"
  CMakeLists.txt
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/B0TRK/B0TRK.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/BTOF/BTOF.cc
  src/detectors/BTRK/BTRK.cc
  src/detectors/BVTX/BVTX.cc
  src/detectors/DIRC/DIRC.cc
  src/detectors/DRICH/DRICH.cc
  src/detectors/ECTOF/ECTOF.cc
  src/detectors/ECTRK/ECTRK.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/LOWQ2/LOWQ2.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/MPGD/MPGD.cc
  src/detectors/PFRICH/PFRICH.cc
  src/detectors/RPOTS/RPOTS.cc
  src/detectors/ZDC/ZDC.cc
  src/extensions/jana/JOmniFactory.h
  src/extensions/jana/JOmniFactoryGeneratorT.h
  src/factories/meta/CollectionCollector_factory.h
  src/factories/reco/ChargedReconstructedParticleSelector_factory.h
  src/factories/reco/ReconstructedElectrons_factory.h
  src/factories/tracking/ActsTrajectoriesMerger_factory.h
  src/global/beam/beam.cc
  src/global/pid/pid.cc
  src/global/pid_lut/pid_lut.cc
  src/global/reco/reco.cc
  src/global/tracking/tracking.cc
  src/tests/CMakeLists.txt
  src/tests/omnifactory_test/CMakeLists.txt
  src/tests/omnifactory_test/JOmniFactoryTests.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward

#2011 fix: just require ONNX Runtime everywhere
  CMakeLists.txt
  src/algorithms/CMakeLists.txt
  src/detectors/LOWQ2/CMakeLists.txt
  src/global/reco/CMakeLists.txt
  src/global/reco/reco.cc
Labels: topic: infrastructure

#2012 fix: .gitignore calibrations, fieldmaps, gdml
  .gitignore
Labels: topic: infrastructure

#1978 Add association for TaggerTrackerReconstructedParticles, use new network with additional inputs
  src/algorithms/fardetectors/FarDetectorTransportationPostML.cc
  src/algorithms/fardetectors/FarDetectorTransportationPostML.h
  src/algorithms/fardetectors/FarDetectorTransportationPreML.cc
  src/algorithms/fardetectors/FarDetectorTransportationPreML.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/fardetectors/FarDetectorTransportationPostML_factory.h
  src/factories/fardetectors/FarDetectorTransportationPreML_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: far-backward

#2025 Pulse generation from time-clustered Simcalorimeterhits using a shared template (fix: iwyu)
  src/algorithms/digi/PulseGeneration.cc
  src/algorithms/digi/PulseGeneration.h
  src/detectors/BEMC/BEMC.cc
Labels: topic: calorimetry, topic: barrel, topic: digitization

#2030 Pulse generation from time-clustered Simcalorimeterhits using a shared template (fix: iwyu)
  src/detectors/BTOF/BTOF.cc
  src/detectors/LOWQ2/LOWQ2.cc
Labels: topic: PID, topic: barrel

#2043 fix: Improve failure message for iwyu pull request
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#2052 fix: don't create IWYU PRs for dependabot (no permissions)
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#2057 fix: rename known-leaking suppressed object `edm4hep::create*Buffers`
  .github/lsan.supp
Labels: topic: infrastructure

#2015 fix: enable strongly-typed enum SiliconChargeSharingConfig::ESigmaMode
  src/algorithms/digi/SiliconChargeSharingConfig.h
Labels: topic: digitization

#1999 fix: Add ImagingTopoCluster layer mode within same layers
  src/algorithms/calorimetry/ImagingTopoCluster.cc
  src/algorithms/calorimetry/ImagingTopoCluster.h
  src/algorithms/calorimetry/ImagingTopoClusterConfig.h
  src/detectors/BEMC/BEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/ImagingTopoCluster_factory.h
  src/tests/algorithms_test/calorimetry_ImagingTopoCluster.cc
Labels: topic: calorimetry, topic: far-forward, topic: barrel, topic: forward
