Repository eic/EICrecon, pull requests merged in 2025-02, with the labels that each got.

#1723 EEMC: update sampFrac, drop sector field
  src/detectors/EEMC/EEMC.cc
Labels: topic: calorimetry, topic: backward

#1714 feat: support EDM4hep-0.99 relations to MCParticle
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/tracking/ActsToTracks.cc
Labels: topic: tracking, topic: PID, topic: digitization

#1709 fix: rm src/examples directory
  CMakeLists.txt
  src/examples/CMakeLists.txt
  src/examples/track_matching/CMakeLists.txt
  src/examples/track_matching/reco_particles_track_matching.cc
Labels: topic: infrastructure

#1724 treewide: fix codespell issues
  .codespellrc
  CONTRIBUTING.md
  src/algorithms/pid/MatchToRICHPID.cc
Labels: topic: PID, topic: infrastructure

#1737 MPGDTrackerDigi: support EDM4hep-0.99 relations to MCParticle
  src/algorithms/digi/MPGDTrackerDigi.cc
Labels: topic: digitization

#1736 TrackProjector: adopt algorithms interface
  src/algorithms/interfaces/ActsSvc.h
  src/algorithms/tracking/ActsGeometryProvider.cc
  src/algorithms/tracking/ActsGeometryProvider.h
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackProjector.h
  src/global/tracking/TrackProjector_factory.h
  src/services/algorithms_init/AlgorithmsInit_service.h
Labels: topic: tracking

#1739 TrackProjector: fill relation from segment to track
  src/algorithms/tracking/TrackProjector.cc
  src/algorithms/tracking/TrackProjector.h
  src/global/tracking/TrackProjector_factory.h
  src/global/tracking/tracking.cc
Labels: topic: tracking

#1731 Lambda reconstruction in ZDC
  src/algorithms/calorimetry/HEXPLIT.cc
  src/algorithms/calorimetry/HEXPLITConfig.h
  src/algorithms/pid_lut/PIDLookup.cc
  src/algorithms/reco/FarForwardLambdaReconstruction.cc
  src/algorithms/reco/FarForwardLambdaReconstruction.h
  src/algorithms/reco/FarForwardLambdaReconstructionConfig.h
  src/algorithms/reco/FarForwardNeutralsReconstruction.cc
  src/algorithms/reco/FarForwardNeutralsReconstruction.h
  src/algorithms/reco/FarForwardNeutralsReconstructionConfig.h
  src/algorithms/reco/FarForwardNeutronReconstruction.cc
  src/algorithms/reco/FarForwardNeutronReconstruction.h
  src/algorithms/reco/FarForwardNeutronReconstructionConfig.h
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/HEXPLIT_factory.h
  src/factories/reco/FarForwardLambdaReconstruction_factory.h
  src/factories/reco/FarForwardNeutralsReconstruction_factory.h
  src/factories/reco/FarForwardNeutronReconstruction_factory.h
  src/global/reco/reco.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/reco_FarForwardNeutronReconstruction.cc
Labels: topic: calorimetry, topic: PID, topic: far-forward, topic: infrastructure

#1735 linux-eic-shell.yml: update list of supported releases
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure
