Repository eic/EICrecon, pull requests merged in 2025-01, with the labels that each got.

#1685 fix(ci): ubsan.supp: implicit-integer-sign-change in edm4hep::ObjectID
  .github/ubsan.supp
Labels: topic: infrastructure

#1668 Enable calorimeter hit merging by functions
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
  src/algorithms/calorimetry/CalorimeterHitsMerger.h
  src/algorithms/calorimetry/CalorimeterHitsMergerConfig.h
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FHCAL/FHCAL.cc
  src/factories/calorimetry/CalorimeterHitsMerger_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: calorimetry, topic: barrel, topic: forward, topic: backward

#1704 services/io/podio: remove unused datamodel_LinkDef.h
  cmake/jana_plugin.cmake
  src/services/io/podio/CMakeLists.txt
  src/services/io/podio/datamodel_LinkDef.h
  src/services/io/podio/make_datamodel_glue.py
Labels: topic: infrastructure

#1686 feat(ci): runs-on: ubuntu-22.04 -> ubuntu-24.04
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1710 fix: rm find_package outside jana_plugin.cmake
  src/benchmarks/reconstruction/TRACKINGcheck/CMakeLists.txt
  src/benchmarks/reconstruction/femc_studies/CMakeLists.txt
  src/benchmarks/reconstruction/lfhcal_studies/CMakeLists.txt
  src/benchmarks/reconstruction/tof_efficiency/CMakeLists.txt
  src/benchmarks/reconstruction/tracking_efficiency/CMakeLists.txt
  src/benchmarks/reconstruction/tracking_occupancy/CMakeLists.txt
Labels: topic: infrastructure

#1712 fix: rm unused options in IterativeVertexFinder.cc
  src/algorithms/tracking/IterativeVertexFinder.cc
Labels: topic: tracking

#1713 BUGFIX: PhotoMultiplierHitDigi: allow bypassing QE, enable that for DIRC
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/PhotoMultiplierHitDigiConfig.h
  src/detectors/DIRC/DIRC.cc
Labels: topic: digitization

#1697 Low-Q2 particle reconstruction using onnx framework
  src/algorithms/fardetectors/FarDetectorTransportationPostML.cc
  src/algorithms/fardetectors/FarDetectorTransportationPostML.h
  src/algorithms/fardetectors/FarDetectorTransportationPostMLConfig.h
  src/algorithms/fardetectors/FarDetectorTransportationPreML.cc
  src/algorithms/fardetectors/FarDetectorTransportationPreML.h
  src/algorithms/fardetectors/FarDetectorTransportationPreMLConfig.h
  src/detectors/LOWQ2/CMakeLists.txt
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/fardetectors/FarDetectorTransportationPostML_factory.h
  src/factories/fardetectors/FarDetectorTransportationPreML_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: infrastructure

#1695 2D-strip digitization for CyMBaL and Outer MPGDs
  src/algorithms/digi/CMakeLists.txt
  src/algorithms/digi/MPGDTrackerDigi.cc
  src/algorithms/digi/MPGDTrackerDigi.h
  src/algorithms/digi/MPGDTrackerDigiConfig.h
  src/detectors/MPGD/MPGD.cc
  src/factories/digi/MPGDTrackerDigi_factory.h
Labels: topic: tracking, topic: infrastructure, topic: barrel, topic: digitization

#1718 fix: UBSAN_OPTIONS should use colon-separation
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure
