Repository eic/EICrecon, pull requests merged in 2025-07, with the labels that each got.

#1941 fix: lock to avoid potential data race in IrtCherenkovParticleID
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/pid/IrtCherenkovParticleID.h
Labels: topic: PID

#1953 treewide: drop support for EDM4eic older than 7
  CMakeLists.txt
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.h
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/ImagingClusterReco.cc
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/algorithms/digi/MPGDTrackerDigi.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/reco/HadronicFinalState.cc
  src/algorithms/reco/InclusiveKinematicsDA.cc
  src/algorithms/reco/InclusiveKinematicsESigma.cc
  src/algorithms/reco/InclusiveKinematicsElectron.cc
  src/algorithms/reco/InclusiveKinematicsJB.cc
  src/algorithms/reco/InclusiveKinematicsSigma.cc
  src/algorithms/tracking/ActsToTracks.cc
  src/algorithms/tracking/TrackerHitReconstruction.cc
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
  src/factories/calorimetry/CalorimeterHitDigi_factory.h
  src/factories/calorimetry/ImagingClusterReco_factory.h
  src/global/reco/reco.cc
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/algorithms_test/calorimetry_CalorimeterClusterRecoCoG.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward, topic: digitization

#1969 fix: rm Acts<32 code branch
  src/algorithms/tracking/DD4hepBField.h
Labels: topic: tracking

#1957 updated the matrices for the OMD 130 GeV/n deuteron beams
  src/detectors/FOFFMTRK/FOFFMTRK.cc
Labels: topic: far-forward, backport v1.27

#1971 [Backport v1.27] updated the matrices for the OMD 130 GeV/n deuteron beams
  src/detectors/FOFFMTRK/FOFFMTRK.cc
Labels: topic: far-forward

#1968 feat: switch TrackSeeding algorithm/factory to algorithms interface
  src/algorithms/interfaces/ActsSvc.h
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
  src/factories/tracking/TrackSeeding_factory.h
Labels: topic: tracking

#1982 fix: avoid unused variable warnings with Acts 39
  .github/iwyu.imp
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
Labels: topic: tracking, topic: infrastructure

#1983 linux-eic-shell: update llvm-cov from 15 to 18
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1980 fix: format according to clang-format-18
  .pre-commit-config.yaml
  src/algorithms/calorimetry/CalorimeterClusterShape.cc
  src/algorithms/calorimetry/TrackClusterMergeSplitter.cc
  src/algorithms/digi/EICROCDigitization.h
  src/algorithms/meta/CollectionCollector.h
  src/algorithms/meta/FilterMatching.h
  src/algorithms/meta/SubDivideCollection.h
  src/algorithms/meta/SubDivideFunctors.h
  src/algorithms/pid/MergeTracks.h
  src/algorithms/pid/Tools.h
  src/algorithms/reco/ElectronReconstruction.h
  src/algorithms/reco/JetReconstruction.cc
  src/algorithms/reco/MatchClusters.h
  src/algorithms/reco/TrackClusterMatch.h
  src/algorithms/reco/TransformBreitFrame.h
  src/algorithms/tracking/ActsGeometryProvider.h
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/TrackParamTruthInit.h
  src/algorithms/tracking/TrackerHitReconstruction.h
  src/factories/calorimetry/TrackClusterMergeSplitter_factory.h
  src/factories/meta/FilterMatching_factory.h
  src/factories/reco/ChargedMCParticleSelector_factory.h
  src/factories/reco/ChargedReconstructedParticleSelector_factory.h
  src/factories/reco/JetReconstruction_factory.h
  src/factories/reco/TransformBreitFrame_factory.h
  src/services/algorithms_init/AlgorithmsInit_service.h
  src/services/geometry/richgeo/IrtGeoPFRICH.cc
  src/services/geometry/richgeo/ReadoutGeo.cc
  src/services/geometry/richgeo/RichGeo.h
  src/services/io/podio/JEventProcessorPODIO.cc
  src/services/io/podio/JEventSourcePODIO.cc
  src/services/pid_lut/PIDLookupTable.h
  src/services/pid_lut/PIDLookupTableSvc.h
  src/utilities/janatop/JEventProcessorJANATOP.h
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: infrastructure, topic: jets, topic: digitization

#1987 Update track reconstruction documentation
  docs/design/tracking.md
Labels: topic: documentation

#1989 Added new mode to support charge sharing sigma in the units of cell dimension
  src/algorithms/digi/SiliconChargeSharing.cc
  src/algorithms/digi/SiliconChargeSharingConfig.h
  src/detectors/BTOF/BTOF.cc
  src/factories/digi/SiliconChargeSharing_factory.h
Labels: topic: PID, topic: barrel, topic: digitization

#1934 feat: ingest EventHeader into digi, generate UID to reseed RNG
  .github/iwyu.imp
  .github/workflows/linux-eic-shell.yml
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/algorithms/digi/MPGDTrackerDigi.cc
  src/algorithms/digi/MPGDTrackerDigi.h
  src/algorithms/digi/PhotoMultiplierHitDigi.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.h
  src/algorithms/digi/PhotoMultiplierHitDigiConfig.h
  src/algorithms/digi/PulseNoise.cc
  src/algorithms/digi/PulseNoise.h
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/digi/SiliconTrackerDigi.h
  src/algorithms/interfaces/UniqueIDGenSvc.h
  src/algorithms/pid_lut/PIDLookup.cc
  src/algorithms/pid_lut/PIDLookup.h
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackParamTruthInit.h
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/B0TRK/B0TRK.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/BTOF/BTOF.cc
  src/detectors/BTRK/BTRK.cc
  src/detectors/BVTX/BVTX.cc
  src/detectors/DIRC/DIRC.cc
  src/detectors/DRICH/DRICH.cc
  src/detectors/ECTOF/ECTOF.cc
  src/detectors/ECTRK/ECTRK.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/LOWQ2/LOWQ2.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/MPGD/MPGD.cc
  src/detectors/PFRICH/PFRICH.cc
  src/detectors/RPOTS/RPOTS.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterHitDigi_factory.h
  src/factories/digi/MPGDTrackerDigi_factory.h
  src/factories/digi/PhotoMultiplierHitDigi_factory.h
  src/factories/digi/PulseNoise_factory.h
  src/factories/digi/SiliconTrackerDigi_factory.h
  src/factories/pid_lut/PIDLookup_factory.h
  src/factories/tracking/TrackParamTruthInit_factory.h
  src/global/pid_lut/pid_lut.cc
  src/global/tracking/tracking.cc
  src/services/algorithms_init/AlgorithmsInit_service.h
  src/tests/algorithms_test/algorithmsInit.cc
  src/tests/algorithms_test/calorimetry_CalorimeterHitDigi.cc
  src/tests/algorithms_test/pid_lut_PIDLookup.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward, topic: digitization

#1977 fix: use Navigator with MaterialInteractor action for track propagation
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackPropagation.h
Labels: topic: tracking
