Repository eic/EICrecon, pull requests merged in 2025-06, with the labels that each got.

#1895 Make 10x100 CI run use epic_craterlake_10x100.xml
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1896 Move pid_lut plugin detector constants into algorithm
  src/algorithms/pid_lut/PIDLookup.cc
  src/algorithms/pid_lut/PIDLookup.h
  src/algorithms/pid_lut/PIDLookupConfig.h
  src/factories/pid_lut/PIDLookup_factory.h
  src/global/pid_lut/pid_lut.cc
  src/tests/algorithms_test/algorithmsInit.cc
  src/tests/algorithms_test/pid_lut_PIDLookup.cc
Labels: topic: PID

#1783 1776 implementation of the bic attenuated hits
  src/algorithms/calorimetry/SimCalorimeterHitProcessor.cc
  src/algorithms/calorimetry/SimCalorimeterHitProcessor.h
  src/algorithms/calorimetry/SimCalorimeterHitProcessorConfig.h
  src/detectors/BEMC/BEMC.cc
  src/factories/calorimetry/SimCalorimeterHitProcessor_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: calorimetry, topic: barrel

#1883 Relate merged hit to raw hit of reference
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
Labels: topic: calorimetry

#1853 fix: move implementation out of headers for compilation speed
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/calorimetry/EnergyPositionClusterMerger.cc
  src/algorithms/calorimetry/EnergyPositionClusterMerger.h
  src/algorithms/calorimetry/ImagingClusterReco.cc
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/algorithms/calorimetry/ImagingTopoCluster.cc
  src/algorithms/calorimetry/ImagingTopoCluster.h
  src/algorithms/calorimetry/ImagingTopoClusterConfig.h
  src/algorithms/calorimetry/TruthEnergyPositionClusterMerger.cc
  src/algorithms/calorimetry/TruthEnergyPositionClusterMerger.h
Labels: topic: calorimetry

#1920 fix: don't use RGB component 280 > 255
  src/algorithms/tracking/ActsGeometryProvider.h
Labels: topic: tracking

#1892 Move dd4hep constant parsing from ZDC, BEMC and FHCAL plugins to algorithm init
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/CalorimeterIslandCluster.h
  src/algorithms/calorimetry/CalorimeterIslandClusterConfig.h
  src/algorithms/calorimetry/ImagingTopoCluster.cc
  src/algorithms/calorimetry/ImagingTopoClusterConfig.h
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterIslandCluster_factory.h
  src/factories/calorimetry/ImagingTopoCluster_factory.h
Labels: topic: calorimetry, topic: PID, topic: far-forward, topic: forward

#1910 Resolve missing symbols when loading plugins
  src/algorithms/digi/CMakeLists.txt
  src/services/geometry/dd4hep/DD4hep_service.h
Labels: topic: infrastructure, topic: digitization

#1922 ActsToTracks: don't treat outliers as measurements
  src/algorithms/tracking/ActsToTracks.cc
Labels: topic: tracking, backport v1.26

#1926 [Backport v1.26] ActsToTracks: don't treat outliers as measurements
  src/algorithms/tracking/ActsToTracks.cc
Labels: topic: tracking

#1927 fix: avoid duplicate definition of hash<MCParticle> in SimHitProcessor
  src/algorithms/calorimetry/SimCalorimeterHitProcessor.cc
Labels: topic: calorimetry

#1064 CalorimeterHitDigi: add photon counter based readout
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/algorithms/calorimetry/CalorimeterHitDigiConfig.h
  src/detectors/EEMC/EEMC.cc
  src/factories/calorimetry/CalorimeterHitDigi_factory.h
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: far-backward, topic: barrel, topic: forward, topic: backward, topic: jets, topic: digitization, TDR:Calorimetry

#1935 fix: add a
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1744 feat: split B0 from central detector tracking
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward, topic: jets, topic: digitization

#1940 fix: suppress spurious `lgamma` data race warning
  .github/tsan.supp
Labels: topic: infrastructure
