Repository eic/EICrecon, pull requests merged in 2025-03, with the labels that each got.

#1750 Charge sharing no longer checks segmentation class as BTOF segmentati…
  src/algorithms/digi/LGADChargeSharing.cc
Labels: topic: digitization

#1703 fix: avoid integer abs in MatrixTransferStatic.cc and calorimetry_HEXPLIT.cc
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/benchmarks/reconstruction/lfhcal_studies/clusterizer_MA.h
Labels: topic: calorimetry

#1734 Factorize cluster shape parameter calculation
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterRecoCoGConfig.h
  src/algorithms/calorimetry/CalorimeterClusterShape.cc
  src/algorithms/calorimetry/CalorimeterClusterShape.h
  src/algorithms/calorimetry/CalorimeterClusterShapeConfig.h
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/ZDC/ZDC.cc
  src/factories/calorimetry/CalorimeterClusterRecoCoG_factory.h
  src/factories/calorimetry/CalorimeterClusterShape_factory.h
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/calorimetry_CalorimeterClusterRecoCoG.cc
  src/tests/algorithms_test/calorimetry_CalorimeterClusterShape.cc
Labels: topic: calorimetry, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward

#1755 IterativeVertexFinder: drop support for Acts older than 33
  CMakeLists.txt
  cmake/jana_plugin.cmake
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/algorithms/tracking/DD4hepBField.h
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/TrackSeeding.cc
Labels: topic: tracking, topic: infrastructure

#1766 fix: /work/eic2 -> /volatile/eic
  .github/workflows/linux-eic-shell.yml
  docs/howto/visualize_callgraph.md
Labels: topic: documentation, topic: infrastructure

#1772 jana_plugin.cmake: explicitly depend plugins on podio_datamodel_glue
  cmake/jana_plugin.cmake
  src/services/CMakeLists.txt
  src/services/io/podio/CMakeLists.txt
Labels: topic: infrastructure

#1741 fix: also add tracks that failed smoothing to failed_tracks
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking
