Repository eic/EICrecon, pull requests merged in 2025-05, with the labels that each got.

#1839 feat: use algorithms logger service in IrtCherenkovParticleID
  cmake/jana_plugin.cmake
  src/algorithms/pid/IrtCherenkovParticleID.cc
  src/algorithms/pid/IrtCherenkovParticleID.h
  src/algorithms/pid/IrtCherenkovParticleIDConfig.h
  src/algorithms/pid/MergeParticleID.cc
  src/algorithms/pid/MergeParticleID.h
  src/algorithms/pid/MergeParticleIDConfig.h
  src/algorithms/pid/Tools.h
  src/global/pid/IrtCherenkovParticleID_factory.h
  src/global/pid/MergeCherenkovParticleID_factory.h
  src/tests/algorithms_test/pid_MergeParticleID.cc
Labels: topic: PID

#1849 chore(ci): unpin upload-artifact/merge
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1850 feat(ci): use reusable workflow call for list-open-prs
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1851 fix: rm unused vars in src/scripts/CMakeLists.txt
  src/scripts/CMakeLists.txt
Labels: topic: infrastructure

#1811 fix: avoid geoManager->GetCurrentMatrix in LGADChargeSharing::_global2Local
  src/algorithms/digi/LGADChargeSharing.cc
  src/algorithms/digi/LGADChargeSharing.h
Labels: topic: far-forward, topic: digitization

#1857 fix(ci): LD_LIBRARY_PATH should be $PWD/install/lib
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1859 fix: BTOF uses TOFBarrelCombinedPulses
  src/detectors/BTOF/BTOF.cc
Labels: topic: PID, topic: barrel

#1855 fix(ci): prevent uncontrolled ccache growth with 7d eviction
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1128 fix: collect min versions in CMakeLists.txt
  .github/workflows/linux-eic-shell.yml
  CMakeLists.txt
  cmake/jana_plugin.cmake
Labels: topic: infrastructure

#1866 fix: suppress upstream memory leak
  .github/lsan.supp
Labels: topic: infrastructure

#1763 Low-Q2 Charge Sharing
  src/algorithms/digi/CMakeLists.txt
  src/algorithms/digi/LGADChargeSharing.cc
  src/algorithms/digi/LGADChargeSharing.h
  src/algorithms/digi/LGADChargeSharingConfig.h
  src/algorithms/digi/SiliconChargeSharing.cc
  src/algorithms/digi/SiliconChargeSharing.h
  src/algorithms/digi/SiliconChargeSharingConfig.h
  src/algorithms/digi/SiliconPulseGeneration.cc
  src/algorithms/digi/SiliconPulseGenerationConfig.h
  src/detectors/BTOF/BTOF.cc
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/digi/PulseNoise_factory.h
  src/factories/digi/SiliconChargeSharing_factory.h
  src/factories/digi/SiliconPulseDiscretization_factory.h
  src/factories/digi/SiliconPulseGeneration_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/algorithms_test/digi_SiliconPulseGeneration.cc
Labels: topic: PID, topic: infrastructure, topic: barrel, topic: digitization

#1870 Make tracker measurement from hits more optimal
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
Labels: topic: tracking

#1877 fix(ci): rm unused g++ Debug build
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1869 fix: Propagate tracks from outermost surface
  src/algorithms/tracking/TrackPropagation.cc
Labels: topic: tracking

#1876 fix: abs -> std::abs
  src/algorithms/calorimetry/CalorimeterIslandCluster.cc
  src/algorithms/calorimetry/EnergyPositionClusterMerger.h
  src/algorithms/reco/Beam.h
  src/algorithms/reco/FarForwardLambdaReconstruction.cc
  src/algorithms/reco/PrimaryVertices.cc
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/services/geometry/richgeo/IrtGeoPFRICH.cc
Labels: topic: calorimetry, topic: tracking, topic: far-backward

#1878 fix: properly ignore neutrals in TrackParamTruthInit.cc
  src/algorithms/tracking/TrackParamTruthInit.cc
Labels: topic: tracking

#1880 fix: JApplication.h -> JApplicationFwd.h
  .github/iwyu.imp
  src/benchmarks/detectors/EcalBarrelScFiCheck/EcalBarrelScFiCheck.cc
  src/benchmarks/reconstruction/TRACKINGcheck/TRACKINGcheck.cc
  src/benchmarks/reconstruction/femc_studies/femc_studies.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studies.cc
  src/benchmarks/reconstruction/tof_efficiency/tof_efficiency.cc
  src/benchmarks/reconstruction/tracking_efficiency/TrackingEfficiency_processor.h
  src/benchmarks/reconstruction/tracking_efficiency/tracking_efficiency.cc
  src/benchmarks/reconstruction/tracking_occupancy/HitReconstructionAnalysis.h
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancyAnalysis.h
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancy_processor.h
  src/benchmarks/reconstruction/tracking_occupancy/tracking_occupancy.cc
  src/detectors/B0ECAL/B0ECAL.cc
  src/detectors/B0TRK/B0TRK.cc
  src/detectors/BEMC/BEMC.cc
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/BTOF/BTOF.cc
  src/detectors/BTRK/BTRK.cc
  src/detectors/BVTX/BVTX.cc
  src/detectors/ECTOF/ECTOF.cc
  src/detectors/ECTRK/ECTRK.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/LUMISPECCAL/LUMISPECCAL.cc
  src/detectors/RPOTS/RPOTS.cc
  src/detectors/ZDC/ZDC.cc
  src/extensions/spdlog/SpdlogMixin.h
  src/global/pid/pid.cc
  src/global/reco/reco.cc
  src/global/tracking/tracking.cc
  src/services/algorithms_init/AlgorithmsInit_service.h
  src/services/evaluator/evaluator.cc
  src/services/geometry/acts/ACTSGeo_service.cc
  src/services/geometry/acts/ACTSGeo_service.h
  src/services/geometry/dd4hep/DD4hep_service.h
  src/services/geometry/richgeo/RichGeo_service.h
  src/services/io/podio/JEventSourcePODIO.h
  src/services/io/podio/podio.cc
  src/services/log/Log_service.cc
  src/services/log/Log_service.h
  src/services/pid_lut/pid_lut.cc
  src/services/rootfile/RootFile_service.h
  src/tests/geometry_navigation_test/GeometryNavigationSteps_processor.h
  src/tests/geometry_navigation_test/geometry_navigation_test.cc
  src/tests/track_propagation_test/TrackPropagationTest_processor.h
  src/tests/track_propagation_test/track_propagation_test.cc
  src/tests/tracking_test/TrackingTest_processor.h
  src/tests/tracking_test/tracking_test.cc
  src/utilities/dump_flags/DumpFlags_processor.h
  src/utilities/dump_flags/dump_flags.cc
  src/utilities/eicrecon/eicrecon.cc
  src/utilities/eicrecon/eicrecon_cli.h
  src/utilities/janatop/janatop.cc
Labels: topic: calorimetry, topic: tracking, topic: PID, topic: far-forward, topic: far-backward, topic: infrastructure, topic: barrel, topic: forward, topic: backward

#1863 fix(ci): compile with -Wundef
  .github/workflows/linux-eic-shell.yml
  src/algorithms/calorimetry/ImagingClusterReco.h
  src/extensions/jana/JOmniFactory.h
  src/services/log/Log_service.cc
Labels: topic: calorimetry, topic: infrastructure
