Repository eic/EICrecon, pull requests merged in 2025-09, with the labels that each got.

#2063 fix: remove duplication of edm4eic_indexed_units in `src/algorithms/tracking` (fix: iwyu)
  src/algorithms/tracking/ActsToTracks.cc
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking

#2066 ci: don't fail pragma once check when no headers changed
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#2067 fix: AmbiguitySolver: avoid deprecated call on ACTS main
  src/algorithms/tracking/AmbiguitySolver.cc
Labels: topic: tracking

#2073 Pulse generation from time-clustered Simcalorimeterhits using a shared template (fix: iwyu)
  src/algorithms/calorimetry/SimCalorimeterHitProcessor.cc
Labels: topic: calorimetry

#2004 Pulse generation from time-clustered Simcalorimeterhits using a shared template
  src/algorithms/calorimetry/SimCalorimeterHitProcessor.cc
  src/algorithms/calorimetry/SimCalorimeterHitProcessorConfig.h
  src/algorithms/digi/PulseGeneration.cc
  src/algorithms/digi/PulseGeneration.h
  src/algorithms/digi/PulseGenerationConfig.h
  src/algorithms/digi/SiliconPulseGeneration.h
  src/detectors/BEMC/BEMC.cc
  src/detectors/BTOF/BTOF.cc
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/calorimetry/SimCalorimeterHitProcessor_factory.h
  src/factories/digi/PulseGeneration_factory.h
  src/factories/digi/SiliconPulseGeneration_factory.h
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/digi_PulseGeneration.cc
Labels: topic: calorimetry, topic: PID, topic: infrastructure, topic: barrel, topic: digitization

#2081 fix: Add debug logs for time cap exceedance in hits; don't skip them
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
Labels: topic: calorimetry, topic: digitization

#2085 [Backport v1.29] fix: Add debug logs for time cap exceedance in hits; don't skip them
  src/algorithms/calorimetry/CalorimeterHitDigi.cc
Labels: topic: calorimetry, topic: digitization
