Repository eic/EICrecon, pull requests merged in 2025-04, with the labels that each got.

#1758 Insert noise into pulses
  src/algorithms/digi/CMakeLists.txt
  src/algorithms/digi/PulseNoise.cc
  src/algorithms/digi/PulseNoise.h
  src/algorithms/digi/PulseNoiseConfig.h
  src/algorithms/digi/SiliconPulseGeneration.cc
  src/algorithms/digi/SiliconPulseGeneration.h
  src/algorithms/digi/SiliconPulseGenerationConfig.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/digi/PulseNoise_factory.h
  src/factories/digi/SiliconPulseGeneration_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/digi_SiliconPulseGeneration.cc
Labels: topic: infrastructure, topic: digitization

#1782 docs: generate up-to-date flag list
  .github/workflows/linux-eic-shell.yml
  docs/arches_flags.json
  docs/table_flags/flags_view.md
  src/utilities/dump_flags/DumpFlags_processor.cc
Labels: topic: documentation, topic: infrastructure

#1715 feat: fix compilation for Acts versions from v36 up to v39
  src/algorithms/tracking/ActsGeometryProvider.h
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/CKFTracking.h
  src/algorithms/tracking/CKFTrackingFunction.cc
  src/algorithms/tracking/DD4hepBField.cc
  src/algorithms/tracking/DD4hepBField.h
  src/algorithms/tracking/SpacePoint.h
  src/algorithms/tracking/TrackPropagation.cc
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackSeeding.h
  src/services/geometry/acts/ACTSGeo_service.cc
  src/services/geometry/acts/ACTSGeo_service.h
Labels: topic: tracking, topic: infrastructure

#1778 LGADPulseGeneration -> SiliconPulseGeneration, LGADPulseDigitization -> EICROCDigitization
  src/algorithms/digi/EICROCDigitization.cc
  src/algorithms/digi/EICROCDigitization.h
  src/algorithms/digi/EICROCDigitizationConfig.h
  src/algorithms/digi/LGADPulseGeneration.cc
  src/algorithms/digi/LGADPulseGeneration.h
  src/algorithms/digi/LGADPulseGenerationConfig.h
  src/algorithms/digi/SiliconPulseDiscretization.cc
  src/algorithms/digi/SiliconPulseDiscretization.h
  src/algorithms/digi/SiliconPulseDiscretizationConfig.h
  src/detectors/BTOF/BTOF.cc
  src/factories/digi/EICROCDigitization_factory.h
  src/factories/digi/LGADPulseGeneration_factory.h
  src/factories/digi/SiliconPulseDiscretization_factory.h
  src/tests/algorithms_test/CMakeLists.txt
  src/tests/algorithms_test/algorithmsInit.cc
  src/tests/algorithms_test/digi_EICROCDigitization.cc
  src/tests/algorithms_test/digi_LGADPulseGeneration.cc
Labels: topic: PID, topic: infrastructure, topic: barrel, topic: digitization

#1784 labeler.yml: add few more paths
  .github/labeler.yml
Labels: topic: infrastructure

#1762 Combine pulses in the same CellID
  src/algorithms/digi/PulseCombiner.cc
  src/algorithms/digi/PulseCombiner.h
  src/algorithms/digi/PulseCombinerConfig.h
  src/algorithms/digi/SiliconPulseGenerationConfig.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/digi/PulseCombiner_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: infrastructure, topic: digitization

#1786 chore(ci): remove mmap rnd_bits workaround
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1791 linux-eic-shell.yml: add CXX setting for 25.01.1-stable build
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1788 fix: correct CalorimeterClusterRecoCoG inputs by EDM4eic version
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: barrel, topic: forward, topic: backward

#1794 [Backport v1.24] fix: correct CalorimeterClusterRecoCoG inputs by EDM4eic version
  src/detectors/BHCAL/BHCAL.cc
  src/detectors/EEMC/EEMC.cc
  src/detectors/EHCAL/EHCAL.cc
  src/detectors/FEMC/FEMC.cc
  src/detectors/FHCAL/FHCAL.cc
Labels: topic: calorimetry, topic: barrel, topic: forward, topic: backward

#1767 feat: use spdlog mapped diagnostic context to store event number
  CMakeLists.txt
  src/extensions/jana/JOmniFactory.h
  src/services/log/Log_service.cc
  src/services/log/Log_service.h
Labels: topic: infrastructure

#1796 fix: workaround m_particleHypothesis in CKFTracking for acts-36.0.0 too
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking, backport v1.24

#1797 [Backport v1.24] fix: workaround m_particleHypothesis in CKFTracking for acts-36.0.0 too
  src/algorithms/tracking/CKFTracking.cc
Labels: topic: tracking

#1798 add .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: topic: infrastructure

#1805 fix: iwyu.imp: /usr/local -> /opt/local
  .github/iwyu.imp
Labels: topic: infrastructure

#1780 MatrixTransferStatic: move matrix configurations to config, implement OMD config for 130 GeV
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/fardetectors/MatrixTransferStaticConfig.h
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/RPOTS/RPOTS.cc
  src/factories/fardetectors/MatrixTransferStatic_factory.h
Labels: topic: far-forward, backport v1.24

#1809 [Backport v1.24] MatrixTransferStatic: move matrix configurations to config, implement OMD config for 130 GeV
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/fardetectors/MatrixTransferStaticConfig.h
  src/detectors/FOFFMTRK/FOFFMTRK.cc
  src/detectors/RPOTS/RPOTS.cc
  src/factories/fardetectors/MatrixTransferStatic_factory.h
Labels: topic: far-forward

#1804 Bug fix on SiliconPulseDiscretization giving nan values sometimes.
  src/algorithms/digi/EICROCDigitizationConfig.h
  src/algorithms/digi/SiliconPulseDiscretization.cc
  src/detectors/BTOF/BTOF.cc
Labels: topic: PID, topic: barrel, topic: digitization

#1810 Adopt edm4eic::SimPulse in for current pulse algorithms
  src/algorithms/digi/PulseCombiner.cc
  src/algorithms/digi/PulseCombiner.h
  src/algorithms/digi/PulseNoise.cc
  src/algorithms/digi/PulseNoise.h
  src/algorithms/digi/SiliconPulseDiscretization.cc
  src/algorithms/digi/SiliconPulseDiscretization.h
  src/algorithms/digi/SiliconPulseGeneration.cc
  src/algorithms/digi/SiliconPulseGeneration.h
  src/factories/digi/PulseCombiner_factory.h
  src/factories/digi/PulseNoise_factory.h
  src/factories/digi/SiliconPulseDiscretization_factory.h
  src/factories/digi/SiliconPulseGeneration_factory.h
  src/tests/algorithms_test/digi_SiliconPulseGeneration.cc
Labels: topic: digitization

#1807 feat: separate PhotoMultiplierHitDigi readout/detector/plugin names
  src/algorithms/digi/PhotoMultiplierHitDigiConfig.h
  src/detectors/DRICH/DRICH.cc
  src/detectors/PFRICH/PFRICH.cc
  src/global/digi/PhotoMultiplierHitDigi_factory.h
  src/services/geometry/richgeo/ActsGeo.cc
  src/services/geometry/richgeo/ReadoutGeo.cc
  src/services/geometry/richgeo/ReadoutGeo.h
  src/services/geometry/richgeo/RichGeo_service.cc
  src/services/geometry/richgeo/RichGeo_service.h
Labels: topic: PID, topic: digitization

#1817 fix: rm clang-format off pragmas where gratuitous
  src/algorithms/interfaces/ParticleSvc.cc
  src/detectors/DRICH/DRICH.cc
  src/global/pid/pid.cc
Labels: topic: PID

#1816 fix: improve const-correctness in RichGeo service
  src/detectors/DRICH/DRICH.cc
  src/services/geometry/richgeo/ActsGeo.cc
  src/services/geometry/richgeo/ActsGeo.h
  src/services/geometry/richgeo/IrtGeo.h
  src/services/geometry/richgeo/ReadoutGeo.cc
  src/services/geometry/richgeo/ReadoutGeo.h
  src/services/geometry/richgeo/RichGeo_service.cc
  src/services/geometry/richgeo/RichGeo_service.h
Labels: topic: PID

#1819 Use pixel-style MPDG readout for tracking until efficiency issues are resolved
  src/detectors/MPGD/MPGD.cc
Labels: topic: tracking, topic: barrel, backport v1.24

#1775 Add Lowq2 track association
  src/algorithms/fardetectors/FarDetectorLinearProjection.cc
  src/algorithms/fardetectors/FarDetectorLinearProjection.h
  src/algorithms/fardetectors/FarDetectorLinearTracking.cc
  src/algorithms/fardetectors/FarDetectorLinearTracking.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/fardetectors/FarDetectorLinearProjection_factory.h
  src/factories/fardetectors/FarDetectorLinearTracking_factory.h
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: tracking, topic: far-backward

#1820 [Backport v1.24] Use pixel-style MPDG readout for tracking until efficiency issues are resolved
  src/detectors/MPGD/MPGD.cc
Labels: topic: tracking, topic: barrel

#1818 fix(ci): list more open PRs in GitHub API call
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure

#1815 feat: shortcut lambda if float in EvaluatorSvc
  src/services/evaluator/EvaluatorSvc.h
Labels: topic: calorimetry, topic: digitization

#1716 fix: hide OMD, RPOTS, LOWQ2 errors for single particle simulations
  .github/workflows/linux-eic-shell.yml
  src/algorithms/fardetectors/FarDetectorMLReconstruction.cc
  src/algorithms/fardetectors/FarDetectorMLReconstructionConfig.h
  src/algorithms/fardetectors/FarDetectorTransportationPostML.cc
  src/algorithms/fardetectors/FarDetectorTransportationPostMLConfig.h
  src/algorithms/fardetectors/FarDetectorTransportationPreML.cc
  src/algorithms/fardetectors/FarDetectorTransportationPreMLConfig.h
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/fardetectors/MatrixTransferStaticConfig.h
  src/factories/fardetectors/FarDetectorMLReconstruction_factory.h
  src/factories/fardetectors/FarDetectorTransportationPostML_factory.h
  src/factories/fardetectors/FarDetectorTransportationPreML_factory.h
  src/factories/fardetectors/MatrixTransferStatic_factory.h
Labels: topic: far-forward, topic: far-backward, topic: infrastructure

#1837 fix: slight modification of maximum weight with unsigned indices
  src/algorithms/fardetectors/FarDetectorLinearTracking.cc
Labels: topic: far-backward

#1830 fix: use range-for by reference when possible
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
  src/benchmarks/reconstruction/tof_efficiency/TofEfficiency_processor.cc
Labels: topic: tracking

#1838 fix: virtual destructor for ActsGeometryProvider to avoid warning
  src/algorithms/tracking/ActsGeometryProvider.h
Labels: topic: tracking

#1840 fix: a few loose ends to avoid compiler warnings
  src/algorithms/tracking/CKFTracking.cc
  src/algorithms/tracking/SpacePoint.h
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/clusterizer_MA.h
  src/benchmarks/reconstruction/lfhcal_studies/lfhcal_studiesProcessor.cc
Labels: topic: tracking

#1828 fix: remove unused variables
  src/algorithms/calorimetry/CalorimeterClusterShape.cc
  src/algorithms/calorimetry/CalorimeterHitDigi.h
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
  src/algorithms/digi/EICROCDigitization.cc
  src/algorithms/digi/LGADChargeSharing.cc
  src/algorithms/digi/MPGDTrackerDigi.cc
  src/algorithms/digi/PulseCombiner.cc
  src/algorithms/digi/SiliconTrackerDigi.cc
  src/algorithms/fardetectors/FarDetectorMLReconstruction.cc
  src/algorithms/fardetectors/FarDetectorTrackerCluster.cc
  src/algorithms/fardetectors/MatrixTransferStatic.cc
  src/algorithms/reco/ElectronReconstruction.h
  src/algorithms/reco/HadronicFinalState.cc
  src/algorithms/reco/InclusiveKinematicsDA.cc
  src/algorithms/reco/InclusiveKinematicsESigma.cc
  src/algorithms/reco/InclusiveKinematicsJB.cc
  src/algorithms/reco/InclusiveKinematicsSigma.cc
  src/algorithms/reco/InclusiveKinematicsTruth.h
  src/algorithms/reco/UndoAfterBurner.cc
  src/algorithms/tracking/ActsGeometryProvider.h
  src/algorithms/tracking/CKFTracking.cc
  src/benchmarks/reconstruction/femc_studies/femc_studiesProcessor.cc
  src/benchmarks/reconstruction/lfhcal_studies/clusterizer_MA.h
  src/benchmarks/reconstruction/tof_efficiency/TofEfficiency_processor.cc
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancy_processor.h
  src/services/pid_lut/PIDLookupTable.cc
  src/utilities/dump_flags/DumpFlags_processor.h
Labels: topic: calorimetry, topic: tracking, topic: far-forward, topic: far-backward, topic: digitization

#1829 fix: avoid pessimizing moves where RVO copy elision
  src/algorithms/reco/ChargedReconstructedParticleSelector.h
  src/algorithms/reco/MC2SmearedParticle.cc
  src/algorithms/tracking/IterativeVertexFinder.cc
  src/algorithms/tracking/TrackParamTruthInit.cc
  src/algorithms/tracking/TrackSeeding.cc
  src/algorithms/tracking/TrackerHitReconstruction.cc
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
Labels: topic: tracking

#1832 fix: use GeoSvc in TrackClusterMerger instead of init(ptr)
  src/algorithms/calorimetry/TrackClusterMergeSplitter.cc
  src/algorithms/calorimetry/TrackClusterMergeSplitter.h
  src/factories/calorimetry/TrackClusterMergeSplitter_factory.h
Labels: topic: calorimetry

#1831 fix: avoid signed/unsigned comparisons
  src/algorithms/calorimetry/CalorimeterTruthClustering.cc
  src/algorithms/digi/PulseNoise.cc
  src/algorithms/digi/SiliconPulseGeneration.cc
  src/algorithms/fardetectors/FarDetectorLinearTracking.cc
  src/algorithms/fardetectors/FarDetectorLinearTracking.h
  src/algorithms/fardetectors/FarDetectorLinearTrackingConfig.h
  src/algorithms/onnx/CalorimeterParticleIDPostML.cc
  src/algorithms/onnx/CalorimeterParticleIDPreML.cc
  src/algorithms/onnx/ONNXInference.cc
  src/algorithms/tracking/TrackerMeasurementFromHits.cc
  src/algorithms/tracking/TrackerMeasurementFromHits.h
  src/factories/fardetectors/FarDetectorLinearTracking_factory.h
Labels: topic: calorimetry, topic: tracking, topic: far-backward, topic: digitization

#1833 fix: ensure algorithms satisfy const process function
  src/algorithms/digi/PulseNoise.cc
  src/algorithms/digi/PulseNoise.h
  src/algorithms/fardetectors/FarDetectorMLReconstruction.cc
  src/algorithms/fardetectors/FarDetectorMLReconstruction.h
  src/algorithms/fardetectors/FarDetectorTransportationPreML.cc
  src/algorithms/fardetectors/FarDetectorTransportationPreML.h
Labels: topic: far-backward, topic: digitization

#1842 fix: use std::log to avoid confusion with logger functions
  src/algorithms/calorimetry/CalorimeterClusterRecoCoG.cc
  src/algorithms/calorimetry/CalorimeterClusterShape.cc
Labels: topic: calorimetry

#1777 Use lowq2 track associations
  src/algorithms/fardetectors/FarDetectorMLReconstruction.cc
  src/algorithms/fardetectors/FarDetectorMLReconstruction.h
  src/detectors/LOWQ2/LOWQ2.cc
  src/factories/fardetectors/FarDetectorMLReconstruction_factory.h
  src/global/tracking/tracking.cc
  src/services/io/podio/JEventProcessorPODIO.cc
Labels: topic: far-backward

#1835 fix: comment unused arguments and mark maybe_unused
  src/algorithms/calorimetry/CalorimeterHitsMerger.cc
  src/algorithms/calorimetry/TrackClusterMergeSplitter.cc
  src/algorithms/digi/PhotoMultiplierHitDigi.h
  src/algorithms/tracking/AmbiguitySolver.cc
  src/algorithms/tracking/TrackPropagation.cc
  src/benchmarks/reconstruction/tracking_occupancy/HitReconstructionAnalysis.cc
  src/benchmarks/reconstruction/tracking_occupancy/TrackingOccupancyAnalysis.cc
  src/extensions/jana/JOmniFactory.h
  src/services/algorithms_init/AlgorithmsInit_service.h
  src/services/evaluator/EvaluatorSvc.h
  src/services/geometry/richgeo/ActsGeo.cc
  src/services/geometry/richgeo/ReadoutGeo.cc
  src/services/geometry/richgeo/RichGeo_service.h
  src/services/rootfile/RootFile_service.h
  src/tests/geometry_navigation_test/GeometryNavigationSteps_processor.cc
  src/utilities/dump_flags/DumpFlags_processor.cc
  src/utilities/janatop/JEventProcessorJANATOP.h
Labels: topic: calorimetry, topic: tracking, topic: digitization

#1844 fix: remaining signed comparisons and unused variable warnings
  src/algorithms/calorimetry/CalorimeterHitReco.cc
  src/algorithms/calorimetry/TrackClusterMergeSplitter.h
  src/algorithms/fardetectors/FarDetectorMLReconstruction.cc
  src/algorithms/pid/MatchToRICHPID.cc
  src/detectors/LOWQ2/LOWQ2.cc
  src/tests/algorithms_test/digi_EICROCDigitization.cc
  src/tests/algorithms_test/digi_SiliconPulseGeneration.cc
Labels: topic: calorimetry, topic: PID, topic: far-backward

#1846 fix(ci): leak; hide first fix later
  .github/lsan.supp
Labels: topic: infrastructure

#1845 fix(ci): remove CC, only use CXX
  .github/workflows/linux-eic-shell.yml
Labels: topic: infrastructure
